/www/vendor
composer.lock

node_modules
package-lock.json

database/mysql/*

config-remote.php

www/assets/cache/user-*/project-*/*.png
www/assets/cache/user-*/project-*/*.jpg
www/assets/cache/user-*/project-*/page-*/device-*
