/html/vendor
composer.lock

node_modules
package-lock.json

config-remote.php

html/assets/cache/user-*/project-*/*.png
html/assets/cache/user-*/project-*/*.jpg
html/assets/cache/user-*/project-*/page-*/device-*
