$color: #000000;
$color-secondary: #007acc;
$color-light: #333333;

$site-width: 1140px;

$color-content: #149440;
$color-style: #1DBCC9;
$color-comment: #FFFFFF;
$color-private: #FC0F42;
$color-private-content: #FC0FB3;