/**
 * General
 */
html, body {
  margin: 0;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

#page {
  overflow: hidden;
  /**
 * Typography
 */
  /* Logo */
  /**
 * Elements
 */
  /**
 * Forms
 */
  /**
 * Navigation
 */
  /* Sign-Up & Login Link */
  /**
 * Links
 */
  /**
 * Menus
 */
  /**
 * Alignments
 */
  /**
 * 10.0 - Widgets
 */
  /**
 * 11.0 - Content
 */
  /**
 * 11.1 - Header
 */
  /**
 * 11.2 - Sections
 */
  /**
 * 11.4 - Comments
 */
  /**
 * Misc
 */
  /**
 * 11.6 - Footer
 */
  /**
 * 12 - Home
 */
  /**
 *  Blocks
 */
}

#page *:not(.fa) {
  font-family: 'Roboto Condensed', sans-serif;
}

#page h1 {
  font-size: 64px;
  letter-spacing: 8px;
  font-weight: normal;
  margin: 20px 0;
}

#page h2 {
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

#page h2 div {
  font-size: 36px;
  letter-spacing: 4px;
}

#page p, #page a {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
}

#page a.learn-more {
  font-weight: bold;
}

#page .button-desc {
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
}

#page .register-message {
  line-height: 80px;
  letter-spacing: 1px;
}

#page .site-title {
  margin: 0;
  line-height: 10px;
}

#page .site-title a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 4px;
  display: inline-block;
  position: relative;
}

#page .site-title a span {
  font-size: 15px;
}

@media (max-width: 785px) {
  #page .site-title a {
    font-size: 25px;
  }
}

@media (max-width: 595px) {
  #page .site-title a {
    font-size: 20px;
  }
}

#page img {
  max-width: 100%;
}

#page input[type='text'],
#page input[type='email'],
#page input[type='password'],
#page input[type='url'],
#page input[type='submit'],
#page button {
  display: block;
  padding: 0 20px;
  border: 8px solid black;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  margin-bottom: -8px;
  font-size: 20px;
  background-color: white;
}

#page input[type='submit'],
#page button {
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  cursor: pointer;
  background-image: url("/assets/icons/triangle.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 0 40px;
}

#page input[type='submit']:hover,
#page button:hover {
  color: #007acc;
}

#page input[type='submit'].full,
#page button.full {
  width: 100%;
}

#page nav#main-navigation ul {
  list-style: none;
}

#page nav#main-navigation ul li {
  display: inline-block;
}

#page nav#main-navigation ul li a {
  font-size: 14px;
  color: black;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

#page nav#main-navigation ul li a:hover {
  color: #007acc;
}

#page .inline-guys > * {
  display: inline-block;
}

@media (max-width: 760px) {
  #page .signup-link {
    display: block !important;
  }
}

#page .signup-link a {
  border: 5px solid black;
  padding: 6px 36px;
  font-size: 24px !important;
}

@media (max-width: 845px) {
  #page .signup-link a {
    padding: 6px 15px;
  }
}

@media (max-width: 760px) {
  #page .signup-link a {
    border: none;
    padding: 0;
  }
}

#page .login-link a {
  padding: 11px 36px;
  font-size: 24px !important;
}

@media (max-width: 760px) {
  #page .login-link a {
    padding: 0;
    display: block;
  }
}

#page a {
  color: black;
  text-decoration: none;
}

#page a.invert-hover {
  color: black;
}

#page a.invert-hover:hover {
  color: #007acc;
}

#page .invert-hover a {
  color: black;
}

#page .invert-hover a:hover {
  color: #007acc;
}

#page .bullet {
  padding-right: 15px;
  background-image: url("/assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}

#page .bullet-white {
  background-image: url("/assets/icons/arrow-down-white.svg");
}

#page .bullet.bigger-bullet {
  background-size: 18px;
  padding-right: 20px;
}

#page .user-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 3px;
}

#page .dropdown-container {
  position: relative;
}

#page .dropdown-container nav.dropdown {
  transition: all 500ms 0s;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  min-width: 150px;
  top: -250px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: -1;
}

#page .dropdown-container nav.dropdown ul {
  padding: 0;
}

#page .dropdown-container nav.dropdown ul li {
  position: relative;
  display: block !important;
}

#page .dropdown-container nav.dropdown ul li a {
  display: block;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-bottom: -1px;
  padding: 5px 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#page .dropdown-container nav.dropdown ul li a:hover {
  color: #007acc;
}

#page .dropdown-container nav.dropdown ul li.selected:before {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -9px;
  line-height: 18px;
}

#page .dropdown-container nav.dropdown .notifications {
  background-color: white;
  border: 1px solid;
  display: block;
  padding: 15px 20px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
}

#page .dropdown-container .dropdown-opener:hover + nav.dropdown,
#page .dropdown-container nav.dropdown:hover {
  top: 35px;
  opacity: 1;
  transition: all 500ms 0s;
  z-index: 10;
}

#page .dropdown-container .dropdown-opener:hover + nav.dropdown.higher,
#page .dropdown-container nav.dropdown.higher:hover {
  top: 50px;
}

#page .dropdown-container .dropdown-opener:hover + nav.dropdown.lower,
#page .dropdown-container nav.dropdown.lower:hover {
  top: 15px;
  padding-top: 10px;
}

#page .dropdown-container .dropdown-opener:hover + nav.dropdown.lower ul,
#page .dropdown-container nav.dropdown.lower:hover ul {
  margin: 0;
}

#page .vertical-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  right: 0;
  left: 0;
}

#page .light-border picture.profile-picture {
  border-color: white;
}

#page picture.profile-picture {
  width: 20px;
  height: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 2px solid black;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

#page picture.profile-picture span {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#page picture.profile-picture span.has-pic {
  display: none;
}

#page picture.profile-picture.square {
  border-radius: 0;
  border-width: 2px;
}

#page picture.profile-picture.big {
  width: 40px;
  height: 40px;
  border-width: 1px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: -15px;
}

#page picture.profile-picture.big span {
  line-height: 40px;
}

#page .notif-no {
  font-size: 8px;
  bottom: -3px;
  right: -5px;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #D0011B;
  color: white;
  line-height: 14px;
  font-weight: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

#page .big .notif-no {
  font-size: 10px;
  bottom: 0;
  right: 0;
}

#page pin {
  position: relative;
  display: inline-block;
  line-height: 25px;
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  font-size: 10px;
  letter-spacing: 0;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
}

#page pin[data-pin-mode="live"] {
  box-shadow: 0px 0px 8px 1px #149440;
}

#page pin[data-pin-mode="private"] {
  box-shadow: 0px 0px 8px 1px #FC0F42;
}

#page pin[data-pin-mode="private-live"] {
  box-shadow: 0px 0px 8px 1px #FC0FB3;
}

#page pin .pin-title {
  font-size: 7px;
  line-height: 16px;
  opacity: 0.8;
}

#page pin.mid {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0 10px;
}

#page pin.mid[data-pin-mode="live"] {
  box-shadow: 0px 0px 18px 1px #149440;
}

#page pin.mid[data-pin-mode="private"] {
  box-shadow: 0px 0px 18px 1px #FC0F42;
}

#page pin.mid[data-pin-mode="private-live"] {
  box-shadow: 0px 0px 15px 0.5px #FC0FB3;
}

#page pin.mid .pin-title {
  font-size: 11px;
}

#page pin.big {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
}

#page pin.big[data-pin-mode="live"] {
  box-shadow: 0px 0px 18px 1px #149440;
}

#page pin.big[data-pin-mode="private"] {
  box-shadow: 0px 0px 18px 1px #FC0F42;
}

#page pin.big[data-pin-mode="private-live"] {
  box-shadow: 0px 0px 18px 1px #FC0FB3;
}

#page pin.big .pin-title {
  font-size: 11px;
}

#page pin.add-new {
  background-color: white;
  color: black;
  font-family: -webkit-pictograph;
  font-size: 28px !important;
  transition: 1s;
  border: 1px solid black;
}

#page pin.add-new.active {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.4;
}

#page pin.complete {
  color: black;
  background-color: white;
  border: 1px solid black;
}

#page pin.complete:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 17px;
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 500ms;
}

#page pin.complete:hover:before {
  opacity: 0;
}

#page pin.mouse-cursor {
  position: fixed;
  transition: none;
  cursor: none;
  pointer-events: none;
  border-top-left-radius: 0;
  color: black;
  background-color: white;
}

#page .dark-color {
  color: black;
}

#page .date-statistics {
  opacity: 0.27;
  margin-top: 18px;
  font-size: 14px;
  line-height: 18px;
}

#page #content {
  padding-top: 30px;
}

#page header {
  margin-top: 25px;
}

#page .toolbar {
  margin-bottom: 35px;
}

#page .title nav.dropdown {
  min-width: 220px;
}

#page .under-main-title {
  margin-top: -15px;
  margin-bottom: 10px;
}

#page .under-main-title .member-selector {
  position: relative;
  top: -5px;
  left: -5px;
}

#page .public-link {
  position: relative;
  z-index: 1;
}

#page .public-link a {
  font-size: 14px !important;
}

#page .public-link a.privacy {
  margin-left: 10px;
}

#page .public-link a.privacy i {
  font-size: 20px;
}

#page .filter > *:not(.search) {
  font-size: 14px;
  margin: 0 10px;
  display: inline-block;
}

#page .filter .selected {
  font-weight: bold;
  text-decoration: underline !important;
}

#page .filter .search img {
  width: 16px;
  margin-bottom: -4px;
}

#page main,
#page section {
  position: relative;
  border: 20px solid black;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin-bottom: 1px;
}

#page main {
  height: auto;
  min-height: 100vh;
}

#page .more-info {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
  font-size: 24px;
  color: black;
  letter-spacing: 3px;
}

#page .more-info img {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

#page section:before,
#page section:after {
  content: "";
  position: absolute;
  left: 80px;
  top: -21px;
  display: block;
  width: 1px;
  height: 100vh;
  background-color: black;
  z-index: 1;
}

#page section:after {
  right: 80px;
  left: auto;
  background-color: white;
}

#page section.left-dark:before,
#page section.left-dark:after {
  background-color: white;
}

#page section.left-dark:after {
  background-color: black;
}

#page section:after {
  clear: both;
}

#page section > div {
  position: relative;
  width: 50%;
  height: 100%;
  display: block;
  float: left;
}

#page section > div:first-child:before,
#page section > div:first-child:after {
  left: -21px;
}

#page section > div:before,
#page section > div:after {
  content: "";
  height: 1px;
  background-color: black;
  display: block;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50vw;
}

#page section > div:after {
  top: auto;
  bottom: 80px;
}

#page section > div.dark-side:before,
#page section > div.dark-side:after {
  background-color: white;
}

#page .dark-side {
  background-color: black;
}

#page .dark-side * {
  color: white;
}

#page .side-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 560px;
  right: 0;
  padding-right: 25px;
}

#page .side-content a {
  color: black;
}

#page .side-content a:hover {
  color: #007acc;
}

#page .side-content h2 {
  margin-top: 0;
}

#page section > div:last-child .side-content {
  right: auto;
  left: 0;
  padding-left: 25px;
  padding-right: 0;
}

#page .dpl-xl-gutter-30 {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
}

#page .dpl-xl-gutter-30 > * {
  padding-left: 15px;
  padding-right: 15px;
}

#page footer .site-title a {
  font-size: 18px;
  letter-spacing: 2px;
}

#page footer a, #page footer p, #page footer div, #page footer span {
  font-size: 10px;
}

#page footer .copyright {
  padding-bottom: 15px;
}

#page footer .footer-links a {
  margin: 0 12px;
}

#page footer .footer-links a:hover {
  color: #007acc;
}

#page .home-questions {
  width: 800px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
  position: absolute;
  top: -140px;
  left: -140px;
}

#page .home-questions .are-you {
  display: block;
}

#page .home-questions ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 100px;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

#page .home-questions ul > li {
  transition: 500ms;
  opacity: 0;
  top: -40px;
  position: absolute;
  font-size: 64px;
  line-height: 50px;
  letter-spacing: 8px;
}

#page .home-questions ul > li.active {
  opacity: 1;
  top: 0;
}

#page .home-questions ul > li:after {
  content: "?";
  position: relative;
  right: -20px;
  bottom: -10px;
  font-size: 30px;
}

#page .enter-url {
  width: 555px;
  margin: 0 auto;
  position: relative;
  max-width: calc(100vw - 40px);
}

#page .enter-url input[type="url"] {
  height: 80px;
  border: 9px solid black !important;
  color: black;
  width: 100%;
  font-size: 25px;
  letter-spacing: 3px;
  background-color: white;
  box-sizing: border-box;
}

#page .enter-url input[type="submit"] {
  position: absolute;
  top: 10px;
  right: -80px;
  width: 65px;
  height: 65px;
  background-color: transparent;
  background-image: url("/assets/icons/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  text-indent: -9999px;
  padding: 0;
}

#page .enter-url .description {
  position: absolute;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2.5px;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

#page .cat-separator {
  border-bottom: 1px solid;
  padding: 0 !important;
  margin-left: 15px;
  opacity: 0.5;
  margin-bottom: 10px;
}

#page .sortable-placeholder {
  border: 5px dashed;
  min-height: 1px;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page .block {
  margin-bottom: 50px;
}

#page .block .box {
  border: 5px solid;
  min-height: 250px;
  background-size: cover;
}

#page .block .box .add-new-box:hover .plus-icon {
  color: #007acc;
}

#page .block .box .overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.45);
  min-height: inherit;
}

#page .block .box .overlay * {
  color: white;
}

#page .block .box .overlay .people a {
  display: inline-block;
}

#page .block .box .overlay .people a picture {
  margin: 0;
  width: 18px;
  height: 18px;
  border-color: white;
}

#page .block .box .overlay .pages {
  display: inline-block;
  position: relative;
}

#page .block .box .overlay .pages .page-count {
  position: absolute;
  top: 37px;
  font-size: 15px;
  line-height: 16px;
  display: block;
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;
}

#page .block .box .overlay .modes a {
  font-size: 30px;
  padding: 0 2px;
}

#page .block .box .overlay .pins {
  padding: 4px !important;
}

#page .block .box .overlay .pins pin {
  margin: 1px;
}

#page .block .box .overlay .pins pin .notif-no {
  bottom: auto;
  right: -5px;
  top: -5px;
}

#page .block .box .overlay > div:not(.people):not(.pages) {
  padding: 0 2px;
}

#page .block .box .overlay > div:not(.people):not(.pages) a {
  opacity: 0.65;
}

#page .block .box .overlay > div:not(.people):not(.pages) a:hover {
  opacity: 1;
}

#page .block .box:hover .overlay {
  opacity: 1;
}

#page .block .date {
  font-size: 10px;
  color: #4A4A4A;
}

#page .block .box-name {
  font-size: 14px;
  letter-spacing: normal;
}

#page .wrap, #page .col {
  transition: 500ms;
}

/* END OF #page */
/**
 * 14.0 - Media Queries
 */
@media only screen and (max-width: 1420px) {
  #page section:before {
    left: 40px;
  }
  #page section:after {
    right: 40px;
  }
  #page section > div:before {
    top: 40px;
  }
  #page section > div:after {
    bottom: 40px;
  }
}

@media only screen and (max-width: 1310px) {
  #page section:before {
    content: none;
  }
  #page section:after {
    content: none;
  }
  #page section > div:before {
    content: none;
  }
  #page section > div:after {
    content: none;
  }
}
