$color: black;
$color-secondary: #007acc;
$color-light: #4A4A4A;

$site-width: 1140px;

$color-live: #149440;
$color-style: #1DBCC9;
$color-comment: #FFFFFF;
$color-private: #FC0F42;
$color-private-live: #FC0FB3;