html, body {
  height: 100vh;
  overflow: hidden; }

#top-bar {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: normal; }
  #top-bar a {
    font-size: 12px;
    line-height: normal;
    color: inherit; }
    #top-bar a:hover {
      color: #007acc; }
  #top-bar .desc {
    font-size: 7px;
    line-height: 7px;
    letter-spacing: 0.7px;
    opacity: 0.6;
    margin-bottom: -3px; }
    #top-bar .desc.nomargin {
      margin-bottom: 1px; }
  #top-bar .button {
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block; }
    #top-bar .button.open,
    #top-bar .button:hover {
      color: white;
      border-color: white; }
    #top-bar .button.light.open,
    #top-bar .button.light:hover {
      color: white;
      border-color: black;
      background-color: black; }
  #top-bar .tab-container.open > .tab {
    transform: translateX(0) !important; }
  #top-bar .tab-container > .tab {
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 1;
    background-color: black;
    width: 30vw;
    pointer-events: initial;
    transition: 500ms;
    transform: translateX(-100%);
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0; }
    #top-bar .tab-container > .tab.right {
      left: auto;
      right: 0;
      transform: translateX(100%);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 20px; }
    #top-bar .tab-container > .tab.autowidth {
      width: auto; }
    #top-bar .tab-container > .tab .scrollable-content {
      background-color: #1A1A1A;
      height: 60vh; }
      #top-bar .tab-container > .tab .scrollable-content .mCSB_container {
        padding: 10px 8px;
        overflow: visible; }
      #top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools {
        right: -6px; }
        #top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools .mCSB_draggerRail {
          background-color: #fff;
          background-color: #fffefe;
          width: 1px; }
        #top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
          background-color: #fff;
          background-color: white; }
  #top-bar .pins .pins-filter {
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: -5px;
    margin-bottom: 5px; }
    #top-bar .pins .pins-filter a {
      font-size: 10px;
      font-weight: lighter;
      letter-spacing: 1.2px; }
      #top-bar .pins .pins-filter a.selected {
        text-decoration: underline; }
  #top-bar .pins .pins-list *:not(i) {
    font-weight: lighter; }
  #top-bar .pins .pins-list .pin {
    margin-bottom: 15px; }
    #top-bar .pins .pins-list .pin:hover pin:before {
      opacity: 0; }
  #top-bar .pins .pins-list .pin-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.7px; }
    #top-bar .pins .pins-list .pin-title.close i {
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    #top-bar .pins .pins-list .pin-title.close + .pin-comments {
      display: none; }
    #top-bar .pins .pins-list .pin-title i.edit-summary {
      width: 100%;
      display: block;
      transform: none !important;
      padding-left: 60px;
      color: gray;
      margin-top: -12px;
      font-size: 10px;
      text-transform: none;
      box-sizing: border-box; }
      #top-bar .pins .pins-list .pin-title i.edit-summary > img {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto; }
  #top-bar .pin-mode .current-mode > a > i.fa-mouse-pointer {
    display: none; }
  #top-bar .pin-mode .current-mode .mode-label {
    text-transform: uppercase; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="0"] [data-pin-type="live"][data-pin-private="0"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="0"] > a > i {
    color: #149440; }
  #top-bar .pin-mode [data-pin-type="standard"][data-pin-private="0"] [data-pin-type="standard"][data-pin-private="0"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="1"] [data-pin-type="live"][data-pin-private="1"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="1"] > a > i {
    color: #FC0FB3; }
  #top-bar .pin-mode [data-pin-type="standard"][data-pin-private="1"] [data-pin-type="standard"][data-pin-private="1"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="standard"][data-pin-private="1"] > a > i {
    color: #FC0F42; }
  #top-bar .pin-mode [data-pin-type="browse"] > a > i.fa-dot-circle {
    display: none; }
  #top-bar .pin-mode [data-pin-type="browse"] > a > i.fa-mouse-pointer {
    display: inline-block; }
  #top-bar .pin-mode [data-pin-type="browse"] .deactivator {
    display: none; }
  #top-bar .breadcrumbs {
    font-weight: lighter; }
    #top-bar .breadcrumbs a {
      font-weight: lighter; }
    #top-bar .breadcrumbs sep {
      font-size: 12px;
      margin: 0 8px; }
  #top-bar > .wrap {
    height: 45px;
    padding: 5px;
    padding-bottom: 10px; }
    #top-bar > .wrap > .col {
      font-size: 12px;
      line-height: normal; }
  #top-bar .share > .tab {
    letter-spacing: 1.5px; }
    #top-bar .share > .tab > * {
      margin-bottom: 15px; }
      #top-bar .share > .tab > * > a {
        font-size: 14px; }
    #top-bar .share > .tab .shared-members {
      margin-top: 2px; }
      #top-bar .share > .tab .shared-members a {
        display: inline-block; }
      #top-bar .share > .tab .shared-members .member-selector {
        position: relative;
        top: -4px; }
  #top-bar .page-info {
    padding: 3px; }

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px - 2px);
  overflow: hidden; }
  #page .iframe-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    text-align: center;
    margin: 0 auto;
    outline: 2px solid red;
    overflow: hidden; }
    #page .iframe-container iframe {
      border: none;
      max-height: 100%; }
      #page .iframe-container iframe.dragging {
        pointer-events: none; }

/* Pin Comments */
.pin-comments {
  padding-top: 10px;
  padding-bottom: 25px; }
  .pin-comments > *:not(.comment) {
    margin-left: -10px; }
  .pin-comments .comment {
    margin-top: 10px;
    margin-bottom: 25px; }
    .pin-comments .comment:first-child {
      margin-top: 0; }
    .pin-comments .comment:last-child {
      margin-bottom: 0; }
    .pin-comments .comment .profile-picture {
      margin-left: 0;
      margin-right: 0; }
      .pin-comments .comment .profile-picture .new-comment-icon {
        position: absolute;
        left: -15px; }
    .pin-comments .comment .xl-last .new-comment-icon {
      right: -15px;
      left: auto; }
    .pin-comments .comment .comment-inner-wrapper .comment-user-name {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px; }
    .pin-comments .comment .comment-inner-wrapper .comment-date {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 10px;
      line-height: 20px;
      opacity: 0.4; }
    .pin-comments .comment .comment-inner-wrapper .comment-text {
      font-size: 14px;
      letter-spacing: 0.5px; }
      .pin-comments .comment .comment-inner-wrapper .comment-text a:not(.delete-comment) {
        text-decoration: underline; }
      .pin-comments .comment .comment-inner-wrapper .comment-text .delete-comment {
        opacity: 0;
        line-height: 5px; }
      .pin-comments .comment .comment-inner-wrapper .comment-text:hover .delete-comment {
        opacity: 1; }
    .pin-comments .comment.recurring {
      margin-top: -15px; }
      .pin-comments .comment.recurring .profile-image > picture {
        display: none; }
      .pin-comments .comment.recurring .comment-user-name {
        display: none; }
      .pin-comments .comment.recurring .comment-date {
        padding: 0; }
    .pin-comments .comment.sametime .comment-date {
      display: none; }

/* Progress Bar */
.ready .progress-bar {
  top: auto;
  bottom: 0; }

/* Loading Overlay */
.overlay {
  display: block;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2; }

#loading > .progress-info, #wait > .progress-info {
  font-size: 10px;
  line-height: 13px; }

#loading > span.dates, #wait > span.dates {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 20px;
  opacity: 0.3; }

#loading > span.loading-text, #wait > span.loading-text {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -9px;
  color: #686868;
  font-size: 20px;
  letter-spacing: 10px; }

#wait {
  opacity: 0.8; }

.gps_ring {
  display: inline-block;
  border: 3px solid #999;
  -webkit-border-radius: 30px;
  margin-bottom: -5px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0; }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }

/* Pins */
#pins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  #pins > pin {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
    left: 0;
    top: 0;
    transition: opacity 1000ms; }
    #pins > pin:hover {
      opacity: 0.5; }

/* Pin Filters */
#pins[data-filter="incomplete"] > .pin[data-pin-complete="1"],
#pins[data-filter="complete"] > .pin[data-pin-complete="0"],
#pins[data-filter="private"] > .pin[data-pin-private="0"],
#pins[data-filter="public"] > .pin[data-pin-private="1"],
#pins[data-filter="hide"] > .pin, .pins-list[data-filter="incomplete"] > .pin[data-pin-complete="1"],
.pins-list[data-filter="complete"] > .pin[data-pin-complete="0"],
.pins-list[data-filter="private"] > .pin[data-pin-private="0"],
.pins-list[data-filter="public"] > .pin[data-pin-private="1"],
.pins-list[data-filter="hide"] > .pin {
  display: none; }

/* Pin Window */
#pin-window {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: none;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  width: 300px;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5); }
  #pin-window[data-pin-mine="no"] .convert-to-private-live,
  #pin-window[data-pin-mine="no"] .convert-to-private {
    display: none; }
  #pin-window[data-revisionary-edited="0"] .content-editor .edited-sign,
  #pin-window[data-revisionary-edited="0"] .image-editor .edited-sign {
    display: none; }
  #pin-window[data-changed="no"] .reset-css,
  #pin-window[data-changed="no"] .show-original-css {
    display: none; }
  #pin-window[data-changed="no"] .visual-editor .edited-sign {
    display: none; }
  #pin-window[data-has-comments="no"] .comments .edited-sign {
    display: none; }
  #pin-window[data-showing-changes="yes"] .show-original-css > .changes {
    display: none; }
  #pin-window[data-showing-changes="no"] ul.options > li:not(:first-child) {
    opacity: 0.2;
    pointer-events: none; }
  #pin-window[data-showing-changes="no"] .show-original-css > .original {
    display: none; }
  #pin-window[data-pin-new="yes"] .pin-complete {
    display: none; }
  #pin-window.active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    display: block; }
  #pin-window > div {
    margin-bottom: 25px;
    position: relative; }
    #pin-window > div:last-child {
      margin-bottom: 0; }
  #pin-window .section-title {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed gray;
    border-top: 1px dashed gray;
    padding-top: 5px;
    position: relative;
    cursor: pointer;
    user-select: none; }
    #pin-window .section-title::after {
      content: "\f068";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
    #pin-window .section-title.collapsed::after {
      content: "\f067"; }
    #pin-window .section-title.collapsed + .section-content {
      display: none; }
    #pin-window .section-title .edited-sign {
      color: red;
      font-size: 5px;
      transform: translateY(-3px); }
  #pin-window .section-content {
    padding-left: 10px; }
  #pin-window > .top-actions .close-button {
    font-family: Arial; }
  #pin-window > .top-actions .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; }
    #pin-window > .top-actions .action > *:first-child {
      margin-right: 5px; }
    #pin-window > .top-actions .action:first-child {
      margin-left: 0; }
  #pin-window .move-window {
    cursor: move; }
  #pin-window .switch {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0; }
  #pin-window .difference-switch-wrap {
    position: absolute;
    right: 0; }
  #pin-window .action.dropdown {
    text-transform: uppercase; }
    #pin-window .action.dropdown > ul {
      left: -4px; }
      #pin-window .action.dropdown > ul > li > a {
        padding: 2px 3px;
        font-size: 12px; }
  #pin-window .edit-content {
    outline: none;
    display: block;
    width: 100%;
    height: 90px;
    border: 3px solid black;
    box-sizing: border-box;
    padding: 4px 5px;
    font-size: 14px;
    overflow: scroll;
    letter-spacing: normal; }
    #pin-window .edit-content.original {
      opacity: 0.5; }
    #pin-window .edit-content p {
      font-size: 14px;
      letter-spacing: inherit; }
    #pin-window .edit-content a {
      font-size: inherit;
      letter-spacing: inherit;
      text-decoration: underline; }
    #pin-window .edit-content h6 {
      font-size: 16px; }
    #pin-window .edit-content h5 {
      font-size: 17px; }
    #pin-window .edit-content h4 {
      font-size: 18px; }
    #pin-window .edit-content h3 {
      font-size: 19px; }
    #pin-window .edit-content h2 {
      font-size: 20px; }
    #pin-window .edit-content h1 {
      font-size: 21px; }
  #pin-window .image-editor .select-file {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold; }
  #pin-window .image-editor .edit-content {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    background-color: #eee;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px; }
    #pin-window .image-editor .edit-content img {
      max-width: 100%;
      max-height: 100%; }
  #pin-window .pin-comments {
    max-height: 180px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }
  #pin-window .comment-actions .comment-input-col {
    width: calc(100% - 30px);
    height: 35px; }
    #pin-window .comment-actions .comment-input-col .comment-input {
      outline: none;
      border: 3px solid black;
      font-size: 14px;
      line-height: 15px;
      padding: 5px;
      height: 30px;
      min-height: 30px;
      max-height: 61px;
      width: 100%; }
  #pin-window > .bottom-actions .action > a {
    font-size: 14px;
    line-height: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center; }
    #pin-window > .bottom-actions .action > a > i:first-child,
    #pin-window > .bottom-actions .action > a > pin:first-child {
      font-size: 22px;
      margin-right: 2px; }
    #pin-window > .bottom-actions .action > a > pin:first-child {
      margin-right: 4px; }
      #pin-window > .bottom-actions .action > a > pin:first-child:hover::before {
        opacity: 1; }
  #pin-window > .bottom-actions .action nav > ul > li > a {
    width: 100%; }
  #pin-window .image-editor,
  #pin-window .content-editor {
    display: none; }
  #pin-window .differences {
    display: none; }
    #pin-window .differences .diff.green {
      background: #eaf2c2;
      color: #406619;
      text-decoration: none; }
    #pin-window .differences .diff.red {
      text-decoration: line-through;
      color: #b30000;
      background: #fadad7; }
  #pin-window.show-differences .edits-switch-wrap.differences {
    display: flex; }
  #pin-window.show-differences .edit-content.differences {
    display: block; }
  #pin-window.show-differences .edits-switch-wrap.changes,
  #pin-window.show-differences .edit-content.changes,
  #pin-window.show-differences .edits-switch-wrap.original,
  #pin-window.show-differences .edit-content.original {
    display: none !important; }
  #pin-window ul.options {
    font-weight: 100;
    letter-spacing: normal; }
    #pin-window ul.options[data-display="none"] .hide-when-hidden {
      display: none; }
    #pin-window ul.options[data-background-image="none"] .hide-when-no-image {
      display: none; }
    #pin-window ul.options a {
      letter-spacing: inherit; }
    #pin-window ul.options input {
      margin: 2px; }
    #pin-window ul.options .main-option.changed::before {
      position: absolute;
      content: "\f111";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: red;
      font-size: 5px;
      top: 50%;
      right: 100%;
      transform: translateY(-50%); }
    #pin-window ul.options .main-option.sub.changed::before {
      right: 0;
      top: 4px; }
    #pin-window ul.options .main-option.changed:not(div) {
      position: relative; }
    #pin-window ul.options > li {
      margin-bottom: 5px; }
      #pin-window ul.options > li:last-child {
        margin-bottom: 0; }
      #pin-window ul.options > li i {
        width: 22px;
        text-align: center; }
    #pin-window ul.options .choice > a {
      border: 1px solid white;
      padding: 2px 5px;
      border-radius: 10px;
      text-align: center;
      width: auto; }
      #pin-window ul.options .choice > a.active {
        background-color: black;
        color: white;
        border-color: white;
        outline-color: black; }
    #pin-window ul.options .current-element {
      position: relative;
      padding-right: 100px; }
      #pin-window ul.options .current-element .css-selector {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
  #pin-window[data-pin-private="1"] {
    box-shadow: 0px 0px 18px 1px #FC0F42; }
  #pin-window[data-pin-type="live"] {
    box-shadow: 0px 0px 18px 1px #149440; }
  #pin-window[data-pin-type="live"][data-pin-private="1"] {
    box-shadow: 0px 0px 18px 1px #FC0FB3; }
  #pin-window[data-pin-modification-type="html"] > .content-editor {
    display: block; }
  #pin-window[data-pin-modification-type="image"] > .image-editor {
    display: block; }
  #pin-window[data-pin-private="1"] .type-convertor > .convert-to-private,
  #pin-window[data-pin-private="1"] .type-convertor > .convert-to-private-live {
    display: none !important; }
  #pin-window[data-pin-type="live"][data-pin-private="0"] .type-convertor > .convert-to-live,
  #pin-window[data-pin-type="live"][data-pin-private="0"] .type-convertor > .convert-to-private {
    display: none !important; }
  #pin-window[data-pin-type="standard"] .type-convertor > .convert-to-live,
  #pin-window[data-pin-type="standard"] .type-convertor > .convert-to-private-live,
  #pin-window[data-pin-type="standard"] > .content-editor,
  #pin-window[data-pin-type="standard"] > .image-editor {
    display: none !important; }
  #pin-window[data-pin-type="standard"][data-pin-private="0"] .type-convertor > .convert-to-standard,
  #pin-window[data-pin-type="standard"][data-pin-private="0"] .type-convertor > .convert-to-live {
    display: none !important; }
  #pin-window[data-pin-complete="1"] .complete-pin {
    display: none !important; }
  #pin-window[data-pin-complete="0"] .incomplete-pin {
    display: none !important; }
  #pin-window[data-revisionary-edited="0"] .edits-switch-wrap > .col:not(.title),
  #pin-window[data-revisionary-edited="0"] .difference-switch-wrap {
    display: none !important; }
  #pin-window[data-revisionary-edited="1"] .uploader .info {
    display: none !important; }
  #pin-window[data-revisionary-showing-changes="0"] .edits-switch-wrap.changes,
  #pin-window[data-revisionary-showing-changes="0"] .edit-content.changes {
    display: none !important; }
  #pin-window[data-revisionary-showing-changes="1"] .edits-switch-wrap.original,
  #pin-window[data-revisionary-showing-changes="1"] .edit-content.original {
    display: none !important; }
  #pin-window.loading::after {
    content: "Please wait...";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    top: 0;
    left: 0; }
  #pin-window.removing::after {
    content: "Removing...";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    top: 0;
    left: 0; }
  #pin-window .css-box {
    width: 100%; }
    #pin-window .css-box .layer {
      padding: 20px 39px;
      position: relative;
      white-space: nowrap; }
      #pin-window .css-box .layer:before {
        content: "Title";
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; }
      #pin-window .css-box .layer > .input {
        position: absolute;
        width: 35px; }
        #pin-window .css-box .layer > .input > input {
          display: block; }
        #pin-window .css-box .layer > .input.top {
          left: 50%;
          transform: translateX(-50%);
          top: 2px; }
        #pin-window .css-box .layer > .input.right {
          top: 50%;
          transform: translateY(-50%);
          right: 2px; }
        #pin-window .css-box .layer > .input.bottom {
          left: 50%;
          transform: translateX(-50%);
          bottom: 2px; }
        #pin-window .css-box .layer > .input.left {
          top: 50%;
          transform: translateY(-50%);
          left: 2px; }
    #pin-window .css-box > .positions:before {
      content: "Position"; }
    #pin-window .css-box > .positions > .margins {
      border: 1px dashed #bababa; }
      #pin-window .css-box > .positions > .margins:before {
        content: "Margin"; }
      #pin-window .css-box > .positions > .margins > .borders {
        border: 1px solid #d7d7d7;
        background-color: #f6f6f6; }
        #pin-window .css-box > .positions > .margins > .borders:before {
          content: "Border"; }
        #pin-window .css-box > .positions > .margins > .borders > .paddings {
          border: 1px solid #d7d7d7;
          background-color: #ebebeb; }
          #pin-window .css-box > .positions > .margins > .borders > .paddings:before {
            content: "Padding"; }
          #pin-window .css-box > .positions > .margins > .borders > .paddings > .sizes {
            padding: 8px 4px 13px;
            border: 1px solid #bababa; }
            #pin-window .css-box > .positions > .margins > .borders > .paddings > .sizes:before {
              content: "Size"; }
    #pin-window .css-box input {
      padding: 0;
      font-size: 10px;
      border: 1px solid;
      height: auto;
      letter-spacing: -0.3px;
      display: inline-block;
      width: 48px;
      max-width: 100%;
      text-align: center;
      margin: 0 !important; }

.popline {
  border-radius: 0;
  background: black;
  outline: 1px solid white; }
  .popline > li a {
    padding: 10px; }
  .popline > li a, .popline > li span {
    font-size: 14px !important;
    line-height: 14px !important;
    top: auto !important;
    height: auto; }

.sp-replacer {
  border: none;
  background: none; }

.sp-container {
  border-color: black;
  background-color: white; }
  .sp-container .sp-cancel {
    color: black !important;
    visibility: hidden !important; }
    .sp-container .sp-cancel:hover {
      color: #007acc !important; }
  .sp-container .sp-choose,
  .sp-container .sp-palette-toggle {
    border: 2px solid black;
    background: none !important;
    background-color: white !important;
    text-shadow: none !important;
    text-transform: capitalize !important;
    outline: none !important; }
    .sp-container .sp-choose:hover,
    .sp-container .sp-palette-toggle:hover {
      border: 2px solid black;
      color: #007acc; }

/* Color */
.color-primary {
  color: black; }

.color-live {
  color: #149440; }

.color-private-live {
  color: #FC0FB3; }

.color-private {
  color: #FC0F42; }

/*# sourceMappingURL=revise.map */