html, body {
  overflow: hidden;
}

#top-bar {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: normal;
}

#top-bar > .wrap {
  height: 45px;
  padding: 5px;
  padding-bottom: 10px;
}

#top-bar > .wrap > .col {
  font-size: 12px;
  line-height: normal;
}

#top-bar a {
  font-size: 12px;
  line-height: normal;
  color: inherit;
}

#top-bar a:hover {
  color: #007acc;
}

#top-bar .desc {
  font-size: 7px;
  line-height: 7px;
  letter-spacing: 0.7px;
  opacity: 0.6;
  margin-bottom: -3px;
}

#top-bar .desc.nomargin {
  margin-bottom: 1px;
}

#top-bar .button {
  font-size: 12px;
  padding: 2px 5px;
  border: 1px solid gray;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -moz-border-radius: 3px;
       border-radius: 3px;
  display: inline-block;
  position: relative;
}

#top-bar .button.open, #top-bar .button:hover {
  color: white;
  border-color: white;
}

#top-bar .button.light.open, #top-bar .button.light:hover {
  color: white;
  border-color: black;
  background-color: black;
}

#top-bar .tab-container.open > .tab {
  -moz-transform: translateX(0) !important;
       transform: translateX(0) !important;
}

#top-bar .tab-container > .tab {
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 1;
  background-color: black;
  width: 30vw;
  pointer-events: initial;
  -moz-transition: 500ms;
  transition: 500ms;
  -moz-transform: translateX(-100%);
       transform: translateX(-100%);
  padding: 20px;
  -moz-border-radius-bottomright: 20px;
       border-bottom-right-radius: 20px;
  -moz-border-radius-bottomleft: 0;
       border-bottom-left-radius: 0;
}

#top-bar .tab-container > .tab.right {
  left: auto;
  right: 0;
  -moz-transform: translateX(100%);
       transform: translateX(100%);
  -moz-border-radius-bottomright: 0;
       border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 20px;
       border-bottom-left-radius: 20px;
}

#top-bar .tab-container > .tab.autowidth {
  width: auto;
}

#top-bar .tab-container > .tab .scrollable-content {
  background-color: #1A1A1A;
  height: 60vh;
}

#top-bar .tab-container > .tab .scrollable-content .mCSB_container {
  padding: 10px 8px;
  overflow: visible;
}

#top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools {
  right: -6px;
}

#top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #fff;
  background-color: #fffefe;
  width: 1px;
}

#top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
  background-color: white;
}

#top-bar .screen .selected {
  display: none;
}

#top-bar .pin-mode .current-mode > a.browse-switcher {
  -moz-border-radius-topright: 0;
       border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
       border-bottom-right-radius: 0;
}

#top-bar .pin-mode .current-mode > a.pin-type-selector {
  left: -4px;
  padding: 2px 1px;
  -moz-border-radius-topleft: 0;
       border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
       border-bottom-left-radius: 0;
  letter-spacing: 0;
}

#top-bar .pin-mode .current-mode > a:hover {
  z-index: 1;
}

#top-bar .pin-mode .current-mode > a:hover > i {
  opacity: 1;
}

#top-bar .pin-mode .current-mode > a:not(.pin-type-selector) > i {
  display: none;
}

#top-bar .pin-mode .current-mode > a:not(.pin-type-selector) > i.fa-dot-circle {
  display: inline-block;
}

#top-bar .pin-mode .current-mode .mode-label {
  text-transform: uppercase;
}

#top-bar .pin-mode [data-pin-type="live"][data-pin-private="0"] > a:not(.pin-type-selector) > i {
  color: #149440;
}

#top-bar .pin-mode [data-pin-type="style"][data-pin-private="0"] > a:not(.pin-type-selector) > i {
  color: #1DBCC9;
}

#top-bar .pin-mode [data-pin-type="live"][data-pin-private="1"] > a:not(.pin-type-selector) > i {
  color: #FC0FB3;
}

#top-bar .pin-mode [data-pin-type="style"][data-pin-private="1"] > a:not(.pin-type-selector) > i {
  color: #FC0F42;
}

#top-bar .pin-mode [data-pin-type="comment"] > a:not(.pin-type-selector) > i {
  display: none !important;
}

#top-bar .pin-mode [data-pin-type="comment"] > a:not(.pin-type-selector) > i.fa-comment {
  display: inline-block !important;
}

#top-bar .pin-mode [data-pin-type="browse"] > a:not(.pin-type-selector) > i {
  display: none !important;
}

#top-bar .pin-mode [data-pin-type="browse"] > a:not(.pin-type-selector) > i.fa-mouse-pointer {
  display: inline-block !important;
}

#top-bar .pin-limits .upgrade {
  display: none;
  background-color: green;
  color: white;
}

#top-bar .pin-limits .limit-details {
  width: 300px;
}

#top-bar .pin-limits .limit-details .dropdown-content {
  padding: 10px 5px;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper {
  width: 100%;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper .xl-hidden {
  display: block;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper * {
  text-align: center;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper .exceed {
  color: red;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper .total > ul {
  display: none;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper .fa-question-circle {
  display: none;
}

#top-bar .pin-limits .limit-details .dropdown-content .limit-wrapper[data-current-plan="Enterprise"] a {
  cursor: default;
  color: black !important;
}

#top-bar .pin-limits .limit-details .dropdown-content .button {
  background-color: black;
  border-color: black;
  color: white;
  text-transform: uppercase;
}

#top-bar .pin-limits .limit-details .dropdown-content .button:hover {
  color: #007acc !important;
  border-color: #007acc;
  background-color: white;
}

#top-bar .pin-limits.exceed .desc {
  text-align: center;
}

#top-bar .pin-limits.exceed .pins-count, #top-bar .pin-limits.exceed .pin-limit-text {
  display: none;
}

#top-bar .pin-limits.exceed .upgrade {
  display: inline-block;
}

#top-bar .breadcrumbs {
  font-weight: lighter;
}

#top-bar .breadcrumbs a {
  font-weight: lighter;
}

#top-bar .breadcrumbs sep {
  font-size: 12px;
  margin: 0 8px;
}

#top-bar .share > .button {
  background-color: #007acc;
}

#top-bar .page-info {
  padding: 3px;
}

#top-bar .pins .pins-filter {
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: -5px;
  margin-bottom: 5px;
}

#top-bar .pins .pins-filter a {
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 1.2px;
}

#top-bar .pins .pins-filter a.selected {
  text-decoration: underline;
}

#top-bar .pins .pins-list *:not(i) {
  font-weight: lighter;
}

#top-bar .pins .pins-list .pin {
  margin-bottom: 15px;
  position: static !important;
}

#top-bar .pins .pins-list .pin:hover pin:before {
  opacity: 0;
}

#top-bar .pins .pins-list .pin-title {
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.7px;
}

#top-bar .pins .pins-list .pin-title.close i {
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

#top-bar .pins .pins-list .pin-title.close + .pin-comments {
  display: none;
}

#top-bar .pins .pins-list .pin-title i.edit-summary {
  width: 100%;
  display: block;
  -moz-transform: none !important;
       transform: none !important;
  padding-left: 60px;
  color: gray;
  margin-top: -12px;
  font-size: 10px;
  text-transform: none;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#top-bar .pins .pins-list .pin-title i.edit-summary > img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#top-bar .pins .pins-list .pin-title i.edit-summary.createdby {
  position: relative;
  left: -15px;
  top: -10px;
}

#top-bar [data-pin-status] .notif-no, #top-bar [data-pin-status] .pin-count {
  position: static;
  display: inline-block;
  -moz-transform: translateY(-2px);
       transform: translateY(-2px);
  opacity: 0.7;
}

#top-bar [data-pin-status][data-pin-status="done"] .notif-no {
  background-color: green;
}

#top-bar [data-pin-status][data-pin-status="no-tasks"] .notif-no {
  display: none;
}

@media only screen and (max-width: 1260px) {
  #top-bar .notification-opener > span {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #top-bar .help-information .dropdown > .button > span {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  #top-bar .mode-label {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #top-bar .share > .button > span {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #top-bar .select-screen > span {
    display: none;
  }
  #top-bar .screen .selected {
    display: -moz-box;
    display: flex;
  }
}

#page {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  height: -moz-calc(100vh - 45px - 2px);
  height: calc(100vh - 45px - 2px);
  background-color: transparent;
}

#page .iframe-container {
  position: fixed;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  z-index: 0;
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  text-align: center;
  margin: 0 auto;
  outline: 2px solid red;
  overflow: hidden;
}

#page .iframe-container iframe {
  border: none;
  max-height: 100%;
}

#page .iframe-container iframe.dragging {
  pointer-events: none;
}

/* Progress Bar */
.ready .progress-bar {
  top: auto;
  bottom: 0;
}

/* Loading Overlay */
.overlay {
  display: block;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
}

#loading > .progress-info, #wait > .progress-info {
  font-size: 10px;
  line-height: 13px;
}

#loading > span.dates, #wait > span.dates {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 20px;
  opacity: 0.3;
}

#loading > span.loading-text, #wait > span.loading-text {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -9px;
  color: #686868;
  font-size: 20px;
  letter-spacing: 10px;
}

#wait {
  opacity: 0.8;
}

/* Pin Window */
#pin-window {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  display: none;
  background-color: white;
  border: 5px solid black;
  -moz-border-radius: 10px;
       border-radius: 10px;
  padding: 20px;
  position: absolute;
  width: 300px;
  -moz-box-shadow: 0px 0px 18px 1px red;
       box-shadow: 0px 0px 18px 1px red;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
}

#pin-window.dragging {
  opacity: 0.7 !important;
}

#pin-window.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  display: block;
}

#pin-window > div {
  margin-bottom: 25px;
  position: relative;
}

#pin-window > div:last-child {
  margin-bottom: 0;
}

#pin-window .section-title {
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 1px dashed gray;
  border-top: 1px dashed gray;
  padding-top: 5px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#pin-window .section-title::after {
  content: "\f068";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
       transform: translateY(-50%);
}

#pin-window .section-title.collapsed::after {
  content: "\f067";
}

#pin-window .section-title.collapsed + .section-content {
  display: none;
}

#pin-window .section-title .edited-sign {
  color: red;
  font-size: 5px;
  -moz-transform: translateY(-3px);
       transform: translateY(-3px);
}

#pin-window .section-content {
  padding-left: 10px;
}

#pin-window > .top-actions .close-button {
  font-family: Arial;
}

#pin-window > .top-actions .device-specific.loading {
  opacity: 0.5;
}

#pin-window > .top-actions .device-specific.active {
  color: #007acc;
  position: relative;
}

#pin-window > .top-actions .action {
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  margin-left: 20px;
}

#pin-window > .top-actions .action > *:first-child {
  margin-right: 5px;
}

#pin-window > .top-actions .action:first-child {
  margin-left: 0;
}

#pin-window .move-window {
  cursor: move;
}

#pin-window .switch {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
}

#pin-window .difference-switch-wrap {
  position: absolute;
  right: 0;
}

#pin-window .action.dropdown {
  text-transform: uppercase;
}

#pin-window .action.dropdown > ul {
  left: -4px;
}

#pin-window .action.dropdown > ul > li > a {
  padding: 2px 3px;
  font-size: 12px;
}

#pin-window .edit-content {
  outline: none;
  display: block;
  width: 100%;
  height: 90px;
  border: 3px solid black;
  -moz-border-radius: 5px;
       border-radius: 5px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 4px 5px;
  font-size: 14px;
  overflow: scroll;
  letter-spacing: normal;
}

#pin-window .edit-content.original {
  opacity: 0.5;
}

#pin-window .edit-content p {
  font-size: 14px;
  letter-spacing: inherit;
}

#pin-window .edit-content a {
  font-size: inherit;
  letter-spacing: inherit;
  text-decoration: underline;
}

#pin-window .edit-content h6 {
  font-size: 16px;
}

#pin-window .edit-content h5 {
  font-size: 17px;
}

#pin-window .edit-content h4 {
  font-size: 18px;
}

#pin-window .edit-content h3 {
  font-size: 19px;
}

#pin-window .edit-content h2 {
  font-size: 20px;
}

#pin-window .edit-content h1 {
  font-size: 21px;
}

#pin-window .image-editor .select-file {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

#pin-window .image-editor .edit-content {
  overflow: hidden;
  height: 150px;
  max-height: 150px;
  min-height: 90px;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
       justify-content: center;
  -moz-box-align: center;
       align-items: center;
  border-style: dashed;
  background-color: #eee;
  background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  -moz-background-size: 20px 20px;
       background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
}

#pin-window .image-editor .edit-content img {
  max-width: 100%;
  max-height: 100%;
}

#pin-window .visual-editor .css-box {
  width: 100%;
}

#pin-window .visual-editor .css-box .layer {
  padding: 20px 39px;
  position: relative;
  white-space: nowrap;
}

#pin-window .visual-editor .css-box .layer:before {
  content: "Title";
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 2px;
  pointer-events: none;
}

#pin-window .visual-editor .css-box .layer > .input {
  position: absolute;
  width: 35px;
}

#pin-window .visual-editor .css-box .layer > .input > span {
  font-size: 10px;
  text-align: center;
  display: block;
}

#pin-window .visual-editor .css-box .layer > .input > input {
  display: block;
}

#pin-window .visual-editor .css-box .layer > .input.top {
  left: 50%;
  -moz-transform: translateX(-50%);
       transform: translateX(-50%);
  top: 2px;
}

#pin-window .visual-editor .css-box .layer > .input.right {
  top: 50%;
  -moz-transform: translateY(-50%);
       transform: translateY(-50%);
  right: 2px;
}

#pin-window .visual-editor .css-box .layer > .input.right.bottom {
  bottom: 2px;
  -moz-transform: translateY(0);
       transform: translateY(0);
  -moz-transform: translateX(0);
       transform: translateX(0);
  top: auto;
  left: auto;
}

#pin-window .visual-editor .css-box .layer > .input.right.top {
  top: 2px;
  -moz-transform: translateY(0);
       transform: translateY(0);
  -moz-transform: translateX(0);
       transform: translateX(0);
  bottom: auto;
  left: auto;
}

#pin-window .visual-editor .css-box .layer > .input.right.top.middle {
  right: 50px;
  width: auto;
}

#pin-window .visual-editor .css-box .layer > .input.right.top.middle .sp-replacer {
  margin-top: -6px;
}

#pin-window .visual-editor .css-box .layer > .input.right.top.middle .sp-replacer .sp-preview {
  height: 14px;
}

#pin-window .visual-editor .css-box .layer > .input.bottom {
  left: 50%;
  -moz-transform: translateX(-50%);
       transform: translateX(-50%);
  bottom: 2px;
}

#pin-window .visual-editor .css-box .layer > .input.left {
  top: 50%;
  -moz-transform: translateY(-50%);
       transform: translateY(-50%);
  left: 2px;
}

#pin-window .visual-editor .css-box .layer > .input.left.bottom {
  bottom: 2px;
  -moz-transform: translateY(0);
       transform: translateY(0);
  -moz-transform: translateX(0);
       transform: translateX(0);
  top: auto;
  right: auto;
}

#pin-window .visual-editor .css-box .layer > .input.left.top {
  top: 15px;
  -moz-transform: translateY(0);
       transform: translateY(0);
  -moz-transform: translateX(0);
       transform: translateX(0);
  bottom: auto;
  right: auto;
}

#pin-window .visual-editor .css-box .layer > .input.left.top.middle {
  top: 2px;
  left: 55px;
  width: auto;
}

#pin-window .visual-editor .css-box .layer > .input.left.top.middle .sp-preview {
  height: 14px;
}

#pin-window .visual-editor .css-box > .positions:before {
  content: "Position";
}

#pin-window .visual-editor .css-box > .positions > .margins {
  border: 1px dashed #bababa;
}

#pin-window .visual-editor .css-box > .positions > .margins:before {
  content: "Margin";
}

#pin-window .visual-editor .css-box > .positions > .margins > .borders {
  border: 1px solid #d7d7d7;
  background-color: #f6f6f6;
}

#pin-window .visual-editor .css-box > .positions > .margins > .borders:before {
  content: "Border";
}

#pin-window .visual-editor .css-box > .positions > .margins > .borders > .paddings {
  border: 1px solid #d7d7d7;
  background-color: #ebebeb;
}

#pin-window .visual-editor .css-box > .positions > .margins > .borders > .paddings:before {
  content: "Padding";
}

#pin-window .visual-editor .css-box > .positions > .margins > .borders > .paddings > .sizes {
  padding: 8px 4px 13px;
  border: 1px solid #bababa;
}

#pin-window .visual-editor .css-box > .positions > .margins > .borders > .paddings > .sizes:before {
  content: "Size";
}

#pin-window .visual-editor .css-box input {
  padding: 0;
  font-size: 10px;
  border: 1px solid;
  height: auto;
  letter-spacing: -0.3px;
  display: inline-block;
  width: 48px;
  max-width: 100%;
  text-align: center;
  margin: 0 !important;
}

#pin-window .visual-editor hr {
  position: absolute;
  background-color: black;
  width: -moz-calc(100% + 38px);
  width: calc(100% + 38px);
  height: 1px;
  left: -20px;
  bottom: -23px;
  border: none;
}

#pin-window .comments .no-comments {
  display: none;
}

#pin-window .comments .comment-actions .comment-input-col {
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 35px;
}

#pin-window .comments .comment-actions .comment-input-col .comment-input {
  outline: none;
  border: 3px solid black;
  -moz-border-radius: 5px;
       border-radius: 5px;
  font-size: 14px;
  line-height: 15px;
  padding: 5px;
  height: 30px;
  min-height: 30px;
  max-height: 61px;
  width: 100%;
}

#pin-window .comments .comment-actions .send-comment {
  font-size: 20px;
  display: block;
  margin-top: -5px;
}

#pin-window .comments .comment-actions .send-comment:hover {
  color: #007acc;
}

#pin-window > .bottom-actions .action > a {
  font-size: 14px;
  line-height: 20px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
}

#pin-window > .bottom-actions .action > a > i:first-child,
#pin-window > .bottom-actions .action > a > pin:first-child {
  font-size: 22px;
  margin-right: 2px;
}

#pin-window > .bottom-actions .action > a > pin:first-child {
  margin-right: 4px;
}

#pin-window > .bottom-actions .action > a > pin:first-child:hover::before {
  opacity: 1;
}

#pin-window > .bottom-actions .action nav > ul > li > a {
  width: 100%;
}

#pin-window .differences {
  display: none;
}

#pin-window .differences .diff.green {
  background: #eaf2c2;
  color: #406619;
  text-decoration: none;
}

#pin-window .differences .diff.red {
  text-decoration: line-through;
  color: #b30000;
  background: #fadad7;
}

#pin-window.show-differences .edits-switch-wrap.differences {
  display: -moz-box;
  display: flex;
}

#pin-window.show-differences .edit-content.differences {
  display: block;
}

#pin-window.show-differences .edits-switch-wrap.changes,
#pin-window.show-differences .edit-content.changes,
#pin-window.show-differences .edits-switch-wrap.original,
#pin-window.show-differences .edit-content.original {
  display: none !important;
}

#pin-window ul.options {
  font-weight: 100;
  letter-spacing: normal;
}

#pin-window ul.options[data-display="none"] .hide-when-hidden {
  display: none;
}

#pin-window ul.options[data-background-image="none"] .hide-when-no-image {
  display: none;
}

#pin-window ul.options a {
  letter-spacing: inherit;
}

#pin-window ul.options input {
  margin: 2px;
}

#pin-window ul.options .main-option.changed::before {
  position: absolute;
  content: "\f111";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: red;
  font-size: 5px;
  top: 50%;
  right: 100%;
  -moz-transform: translateY(-50%);
       transform: translateY(-50%);
}

#pin-window ul.options .main-option.sub.changed::before {
  right: 0;
  top: 4px;
}

#pin-window ul.options .main-option.changed:not(div) {
  position: relative;
}

#pin-window ul.options > li {
  margin-bottom: 5px;
}

#pin-window ul.options > li:last-child {
  margin-bottom: 0;
}

#pin-window ul.options > li i {
  width: 22px;
  text-align: center;
}

#pin-window ul.options .choice > a {
  border: 1px solid white;
  padding: 2px 5px;
  -moz-border-radius: 10px;
       border-radius: 10px;
  text-align: center;
  width: auto;
}

#pin-window ul.options .choice > a.active {
  background-color: black;
  color: white;
  border-color: white;
  outline-color: black;
}

#pin-window ul.options .current-element {
  position: relative;
  padding-right: 100px;
}

#pin-window ul.options .current-element .css-selector {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#pin-window[data-pin-private="0"] .type-convertor .public {
  display: none !important;
}

#pin-window[data-pin-private="1"] {
  -moz-box-shadow: 0px 0px 18px 1px #FC0F42;
       box-shadow: 0px 0px 18px 1px #FC0F42;
}

#pin-window[data-pin-private="1"] .type-convertor > .convert-to-private, #pin-window[data-pin-private="1"][data-pin-mine="no"] .type-convertor > .convert-to-private {
  display: none;
}

#pin-window[data-pin-complete="0"] .incomplete-pin {
  display: none !important;
}

#pin-window[data-pin-complete="1"] .complete-pin {
  display: none !important;
}

#pin-window .image-editor,
#pin-window .content-editor,
#pin-window .visual-editor {
  display: none;
}

#pin-window[data-pin-type="live"] {
  -moz-box-shadow: 0px 0px 18px 1px #149440;
       box-shadow: 0px 0px 18px 1px #149440;
}

#pin-window[data-pin-type="live"][data-pin-modification-type="html"] > .content-editor,
#pin-window[data-pin-type="live"][data-pin-modification-type="html"] > .visual-editor {
  display: block;
}

#pin-window[data-pin-type="live"][data-pin-modification-type="image"] > .image-editor,
#pin-window[data-pin-type="live"][data-pin-modification-type="image"] > .visual-editor {
  display: block;
}

#pin-window[data-pin-type="live"][data-pin-private="1"] {
  -moz-box-shadow: 0px 0px 18px 1px #FC0FB3;
       box-shadow: 0px 0px 18px 1px #FC0FB3;
}

#pin-window[data-pin-type="live"][data-pin-private="0"] .type-convertor > .convert-to-live {
  display: none !important;
}

#pin-window[data-pin-type="style"] {
  -moz-box-shadow: 0px 0px 18px 1px #1DBCC9;
       box-shadow: 0px 0px 18px 1px #1DBCC9;
}

#pin-window[data-pin-type="style"] > .visual-editor {
  display: block;
}

#pin-window[data-pin-type="style"] .type-convertor > .convert-to-live,
#pin-window[data-pin-type="style"][data-pin-private="0"] .type-convertor > .convert-to-style {
  display: none !important;
}

#pin-window[data-pin-type="comment"] {
  -moz-box-shadow: 0px 0px 18px 1px #FFFFFF;
       box-shadow: 0px 0px 18px 1px #FFFFFF;
}

#pin-window[data-pin-type="comment"] .type-convertor > .convert-to-live,
#pin-window[data-pin-type="comment"] .type-convertor > .convert-to-style,
#pin-window[data-pin-type="comment"][data-pin-private="0"] .type-convertor > .convert-to-comment {
  display: none !important;
}

#pin-window[data-pin-type="comment"] > .comments .section-title {
  display: none;
}

#pin-window[data-revisionary-style-changed="no"] .reset-css,
#pin-window[data-revisionary-style-changed="no"] .show-original-css {
  display: none;
}

#pin-window[data-revisionary-style-changed="no"] .visual-editor .edited-sign {
  display: none;
}

#pin-window[data-has-comments="no"] .comments .edited-sign {
  display: none;
}

#pin-window[data-revisionary-showing-style-changes="no"] ul.options > li:not(:first-child) {
  opacity: 0.2;
  pointer-events: none;
}

#pin-window[data-revisionary-showing-style-changes="no"] .show-original-css > .original {
  display: none;
}

#pin-window[data-revisionary-showing-style-changes="yes"] .show-original-css > .changes {
  display: none;
}

#pin-window[data-pin-new="yes"] .pin-complete {
  display: none;
}

#pin-window[data-revisionary-content-edited="0"] .content-editor .new-image,
#pin-window[data-revisionary-content-edited="0"] .image-editor .new-image {
  opacity: 0.3;
  border: 1px dotted red;
}

#pin-window[data-revisionary-content-edited="0"] .content-editor .edited-sign,
#pin-window[data-revisionary-content-edited="0"] .image-editor .edited-sign {
  display: none;
}

#pin-window[data-revisionary-content-edited="0"] .edits-switch-wrap > .col:not(.title),
#pin-window[data-revisionary-content-edited="0"] .difference-switch-wrap {
  display: none !important;
}

#pin-window[data-revisionary-content-edited="1"] .uploader .info {
  display: none !important;
}

#pin-window[data-revisionary-showing-content-changes="0"] .edits-switch-wrap.changes,
#pin-window[data-revisionary-showing-content-changes="0"] .edit-content.changes {
  display: none !important;
}

#pin-window[data-revisionary-showing-content-changes="1"] .edits-switch-wrap.original,
#pin-window[data-revisionary-showing-content-changes="1"] .edit-content.original {
  display: none !important;
}

#pin-window.loading::after {
  content: "Please wait...";
  position: absolute;
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: center;
       justify-content: center;
  background-color: white;
  top: 0;
  left: 0;
}

#pin-window.removing::after {
  content: "Removing...";
  position: absolute;
  width: 100%;
  height: 100%;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
       align-items: center;
  -moz-box-pack: center;
       justify-content: center;
  background-color: white;
  top: 0;
  left: 0;
}

/* Pins */
#pins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#pins > pin {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
  left: 0;
  top: 0;
}

#pins > pin:hover {
  opacity: 0.5;
}

/* Pin Filters */
#pins[data-filter="incomplete"] > .pin[data-pin-complete="1"],
#pins[data-filter="complete"] > .pin[data-pin-complete="0"],
#pins[data-filter="private"] > .pin[data-pin-private="0"],
#pins[data-filter="public"] > .pin[data-pin-private="1"],
#pins[data-filter="hide"] > .pin, .pins-list[data-filter="incomplete"] > .pin[data-pin-complete="1"],
.pins-list[data-filter="complete"] > .pin[data-pin-complete="0"],
.pins-list[data-filter="private"] > .pin[data-pin-private="0"],
.pins-list[data-filter="public"] > .pin[data-pin-private="1"],
.pins-list[data-filter="hide"] > .pin {
  display: none;
}

/* Text Editor */
.popline {
  -moz-border-radius: 0;
       border-radius: 0;
  background: black;
  outline: 1px solid white;
}

.popline > li a {
  padding: 10px;
}

.popline > li a, .popline > li span {
  font-size: 14px !important;
  line-height: 14px !important;
  top: auto !important;
  height: auto;
}

/* Color Picker */
.sp-replacer {
  border: none;
  background: none;
}

.sp-container {
  border-color: black;
  background-color: white;
}

.sp-container .sp-cancel {
  color: black !important;
  visibility: hidden !important;
}

.sp-container .sp-cancel:hover {
  color: #007acc !important;
}

.sp-container .sp-choose,
.sp-container .sp-palette-toggle {
  border: 2px solid black;
  background: none !important;
  background-color: white !important;
  text-shadow: none !important;
  text-transform: capitalize !important;
  outline: none !important;
}

.sp-container .sp-choose:hover,
.sp-container .sp-palette-toggle:hover {
  border: 2px solid black;
  color: #007acc;
}

.ask-showing-correctly {
  position: absolute;
  right: 10px;
  bottom: -50px;
  pointer-events: none;
  opacity: 0;
  -moz-transition: 500ms;
  transition: 500ms;
}

.ask-showing-correctly.open {
  bottom: 10px;
  pointer-events: auto;
  opacity: 1;
}

.ask-showing-correctly .inner {
  position: relative;
  padding: 20px;
  background-color: white;
  border: 2px solid;
  -moz-border-radius: 8px;
       border-radius: 8px;
  text-align: center;
}

.ask-showing-correctly .close-pop {
  position: absolute;
  right: 5px;
  top: 1px;
  font-size: 15px;
  opacity: 0.2;
}

.ask-showing-correctly .close-pop:hover {
  opacity: 1;
}

.ask-showing-correctly p {
  margin-top: 0;
}

.ask-showing-correctly .answers .button {
  color: white;
  background-color: black;
  padding: 5px 10px;
  -moz-border-radius: 4px;
       border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 4px;
}

.ask-showing-correctly .answers .button.good:hover {
  background-color: green;
}

.ask-showing-correctly .answers .button.middle:hover {
  background-color: blue;
}

.ask-showing-correctly .answers .button.bad:hover {
  background-color: red;
}

/*# sourceMappingURL=revise.css.map */
