@import '_settings';

$topbar-height: 45px;


html, body {
	height: 100vh;
	overflow: hidden;
}

//.overlay { display: none !important;}

#top-bar {
	position: relative;
	z-index: 1;
	background-color: $color;
	color: white;
	font-size: 12px;
	line-height: normal;

	a {
		font-size: 12px;
		line-height: normal;
		color: inherit;

		&:hover {
			color: $color-secondary;
		}
	}

	.desc {
	    font-size: 7px;
	    line-height: 7px;
	    letter-spacing: 0.7px;
	    opacity: 0.6;
	    margin-bottom: -3px;

	    &.nomargin {
		    margin-bottom: 1px;
	    }
	}

	.button {
		font-size: 12px;
		padding: 2px 5px;
		border: 1px solid gray;
		box-sizing: border-box;
		border-radius: 3px;
		display: inline-block;
		position: relative;

		&.open,
		&:hover {
			color: white;
			border-color: white;
		}

		&.light {

			&.open,
			&:hover {
				color: white;
				border-color: $color;
				background-color: $color;
			}

		}
	}

	.tab-container {

		&.open > .tab {
			transform: translateX(0) !important;
		}

		& > .tab {
			position: fixed;
			top: $topbar-height;
			left: 0;
			z-index: 1;
			background-color: $color;
			width: 30vw;
			pointer-events: initial;
			transition: 500ms;
			transform: translateX(-100%);
			padding: 20px;
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 0;

			&.right {
				left: auto;
				right: 0;
				transform: translateX(100%);
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 20px;
			}

			&.autowidth {
				width: auto;
			}


			.scrollable-content {
				background-color: #1A1A1A;
				//max-height: 50vh;
				height: 60vh;

				.mCSB_container {
					padding: 10px 8px;
					overflow: visible;
				}

				.mCSB_scrollTools {
					right: -6px;

					.mCSB_draggerRail {
					    background-color: #fff;
					    background-color: rgb(255, 254, 254);
				        width: 1px;
					}

					.mCSB_dragger .mCSB_dragger_bar {
					    background-color: #fff;
					    background-color: rgb(255, 255, 255);
					}
				}
			}

		}

	}

	.pins {

		.pins-filter {
		    text-align: center;
			font-size: 10px;
		    font-weight: lighter;
		    letter-spacing: 2px;
		    margin-top: -5px;
			margin-bottom: 5px;

		    a {
			    font-size: 10px;
				font-weight: lighter;
				letter-spacing: 1.2px;

				&.selected {
					text-decoration: underline;
				}
		    }
		}

		.pins-list {

			& *:not(i) {
				font-weight: lighter;
			}

			.pin {
				margin-bottom: 15px;
				position: static !important;

				&:hover pin:before {
					opacity: 0;
				}
			}

			.pin-title {
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 1.7px;

				&.close {

					i {
						-moz-transform: rotate(180deg);
					    -webkit-transform: rotate(180deg);
					    -ms-transform: rotate(180deg);
					    -o-transform: rotate(180deg);
					    transform: rotate(180deg);
					}

					& + .pin-comments {
						display: none;
					}

				}

				i.edit-summary {
				    width: 100%;
				    display: block;
				    transform: none !important;
				    padding-left: 60px;
				    color: gray;
				    margin-top: -12px;
				    font-size: 10px;
				    text-transform: none;
				    box-sizing: border-box;

				    & > img {
					    max-width: 50px;
					    max-height: 50px;
					    width: auto;
					    height: auto;
				    }
				}

			}


		}

	}

	.pin-mode {

		.current-mode {

			& > a {

				&.browse-switcher {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&.pin-type-selector {
					left: -4px;
					padding: 2px 1px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					letter-spacing: 0;

					& > i {
						//opacity: 0.5;
					}
				}

				&:hover {
					z-index: 1;

					& > i {
						opacity: 1;
					}
				}

			}

			& > a > i.fa-mouse-pointer {
				display: none;
			}

			.mode-label {
				text-transform: uppercase;
			}

		}

		[data-pin-type="live"][data-pin-private="0"] {

			& > a > i {
				color: $color-live;
			}

		}

		[data-pin-type="standard"][data-pin-private="0"] {

			& > a > i {
				//color: $color-live;
			}

		}

		[data-pin-type="live"][data-pin-private="1"] {

			& > a > i {
				color: $color-private-live;
			}

		}

		[data-pin-type="standard"][data-pin-private="1"] {

			& > a > i {
				color: $color-private;
			}

		}

		[data-pin-type="browse"] {

			& > a > i.fa-dot-circle {
				display: none;
			}

			& > a > i.fa-mouse-pointer {
				display: inline-block;
			}

		}

	}

	.breadcrumbs {
	    font-weight: lighter;

		a {
			font-weight: lighter;
		}

		sep {
			font-size: 12px;
			margin: 0 8px;
		}

	}

	& > .wrap {
		height: $topbar-height;
		padding: 5px;
		padding-bottom: 10px;

		& > .col {
			font-size: 12px;
			line-height: normal;
		}
	}

	.share > .tab {
		letter-spacing: 1.5px;

		& > * {
			margin-bottom: 15px;

			& > a {
				font-size: 14px;
			}
		}

		.shared-members {
			margin-top: 2px;

			a {
				display: inline-block;
			}

			.member-selector {
				position: relative;
				top: -4px;
			}
		}


	}

	.page-info {
		padding: 3px;
	}

}

#page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - #{$topbar-height} - 2px);
	overflow: hidden;

	.iframe-container {
	    position: fixed;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 0;
	    height: calc(100% - 20px);
	    width: calc(100% - 20px);
	    text-align: center;
	    margin: 0 auto;
		outline: 2px solid red;
	    overflow: hidden;

		iframe {
			border: none;
			max-height: 100%;

			&.dragging {
				pointer-events: none;
			}
		}

	}
}


/* Progress Bar */
.ready .progress-bar {
	top: auto;
	bottom: 0;
}


/* Loading Overlay */
.overlay {
	display: block;
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 2;
}

#loading, #wait {


	& > .progress-info {
	    font-size: 10px;
	    line-height: 13px;
	}

	& > span.dates {
		position: absolute;
	    width: 100%;
	    bottom: 20px;
	    left: 20px;
	    opacity: 0.3;
	}

	& > span.loading-text {
		position: absolute;
	    display: block;
	    width: 100%;
	    text-align: center;
	    top: 50%;
	    margin-top: -9px;
	    color: #686868;
	    font-size: 20px;
	    letter-spacing: 10px;
	}


}

#wait {
	opacity: 0.8;
}

.gps_ring {
	display: inline-block;
    border: 3px solid #999;
    -webkit-border-radius: 30px;
    margin-bottom: -5px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


/* Pins */
#pins {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & > pin {
	    position: absolute;
		pointer-events: auto;
		cursor: pointer;
		left: 0;
		top: 0;
		transition: opacity 1000ms, transform 200ms;

		&:hover {
			opacity: 0.5;
		}
    }

}


/* Pin Filters */
#pins, .pins-list {

    &[data-filter="incomplete"] > .pin[data-pin-complete="1"],
    &[data-filter="complete"] > .pin[data-pin-complete="0"],
    &[data-filter="private"] > .pin[data-pin-private="0"],
    &[data-filter="public"] > .pin[data-pin-private="1"],
    &[data-filter="hide"] > .pin {
	    display: none;
    }

}


.popline {
    border-radius: 0;
    background: $color;
    outline: 1px solid white;

    & > li {

	    a {
		    padding: 10px;
	    }

	    a, span {
		    font-size: 14px !important;
		    line-height: 14px !important;
		    top: auto !important;
		    height: auto;
	    }

    }
}


.sp-replacer {
    border: none;
    background: none;
}


.sp-container {
    border-color: $color;
    background-color: white;

    .sp-cancel {
	    color: $color !important;
	    visibility: hidden !important;

	    &:hover {
		    color: $color-secondary !important;
	    }
    }

    .sp-choose,
    .sp-palette-toggle {
	    border: 2px solid $color;
	    background: none !important;
	    background-color: white !important;
	    text-shadow: none !important;
	    text-transform: capitalize !important;
	    outline: none !important;

	    &:hover {
		    border: 2px solid $color;
		    color: $color-secondary;
	    }
    }
}



.ask-showing-correctly {
	position: absolute;
	right: 10px;
	bottom: -50px;
	pointer-events: none;
	opacity: 0;
	transition: 500ms;

	&.open {
		bottom: 10px;
		pointer-events: auto;
		opacity: 1;
	}

	.inner {
		position: relative;
		padding: 20px;
		background-color: white;
		border: 2px solid;
		border-radius: 8px;
		text-align: center;
	}

	.close-pop {
		position: absolute;
	    right: 5px;
	    top: 1px;
	    font-size: 15px;
	    opacity: 0.2;

	    &:hover {
		    opacity: 1;
	    }
	}

	p {
		margin-top: 0;
	}

	.answers {

		.button {
			color: white;
			background-color: $color;
			padding: 5px 10px;
			border-radius: 4px;
			text-transform: uppercase;
		    display: inline-block;
		    margin-bottom: 4px;

		    &.good:hover {
			    background-color: green;
		    }

		    &.middle:hover {
			    background-color: blue;
		    }

		    &.bad:hover {
			    background-color: red;
		    }
		}

	}
}