html, body {
  height: 100vh;
  overflow: hidden; }

#top-bar {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  font-size: 12px;
  line-height: normal; }
  #top-bar a {
    font-size: 12px;
    line-height: normal;
    color: inherit; }
    #top-bar a:hover {
      color: #007acc; }
  #top-bar .desc {
    font-size: 7px;
    line-height: 7px;
    letter-spacing: 0.7px;
    opacity: 0.6;
    margin-bottom: -3px; }
    #top-bar .desc.nomargin {
      margin-bottom: 1px; }
  #top-bar .button {
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-block; }
    #top-bar .button.open,
    #top-bar .button:hover {
      color: white;
      border-color: white; }
    #top-bar .button.light.open,
    #top-bar .button.light:hover {
      color: white;
      border-color: black;
      background-color: black; }
  #top-bar .tab-container.open > .tab {
    transform: translateX(0) !important; }
  #top-bar .tab-container > .tab {
    position: fixed;
    top: 45px;
    left: 0;
    z-index: 1;
    background-color: black;
    width: 30vw;
    pointer-events: initial;
    transition: 500ms;
    transform: translateX(-100%);
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0; }
    #top-bar .tab-container > .tab.right {
      left: auto;
      right: 0;
      transform: translateX(100%);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 20px; }
    #top-bar .tab-container > .tab.autowidth {
      width: auto; }
    #top-bar .tab-container > .tab .scrollable-content {
      background-color: #1A1A1A;
      height: 60vh; }
      #top-bar .tab-container > .tab .scrollable-content .mCSB_container {
        padding: 10px 8px;
        overflow: visible; }
      #top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools {
        right: -6px; }
        #top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools .mCSB_draggerRail {
          background-color: #fff;
          background-color: #fffefe;
          width: 1px; }
        #top-bar .tab-container > .tab .scrollable-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
          background-color: #fff;
          background-color: white; }
  #top-bar .pins .pins-filter {
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: -5px;
    margin-bottom: 5px; }
    #top-bar .pins .pins-filter a {
      font-size: 10px;
      font-weight: lighter;
      letter-spacing: 1.2px; }
      #top-bar .pins .pins-filter a.selected {
        text-decoration: underline; }
  #top-bar .pins .pins-list *:not(i) {
    font-weight: lighter; }
  #top-bar .pins .pins-list .pin {
    margin-bottom: 15px;
    position: static !important; }
    #top-bar .pins .pins-list .pin:hover pin:before {
      opacity: 0; }
  #top-bar .pins .pins-list .pin-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.7px; }
    #top-bar .pins .pins-list .pin-title.close i {
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    #top-bar .pins .pins-list .pin-title.close + .pin-comments {
      display: none; }
    #top-bar .pins .pins-list .pin-title i.edit-summary {
      width: 100%;
      display: block;
      transform: none !important;
      padding-left: 60px;
      color: gray;
      margin-top: -12px;
      font-size: 10px;
      text-transform: none;
      box-sizing: border-box; }
      #top-bar .pins .pins-list .pin-title i.edit-summary > img {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto; }
  #top-bar .pin-mode .current-mode > a > i.fa-mouse-pointer {
    display: none; }
  #top-bar .pin-mode .current-mode .mode-label {
    text-transform: uppercase; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="0"] [data-pin-type="live"][data-pin-private="0"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="0"] > a > i {
    color: #149440; }
  #top-bar .pin-mode [data-pin-type="standard"][data-pin-private="0"] [data-pin-type="standard"][data-pin-private="0"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="1"] [data-pin-type="live"][data-pin-private="1"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="live"][data-pin-private="1"] > a > i {
    color: #FC0FB3; }
  #top-bar .pin-mode [data-pin-type="standard"][data-pin-private="1"] [data-pin-type="standard"][data-pin-private="1"] {
    display: none; }
  #top-bar .pin-mode [data-pin-type="standard"][data-pin-private="1"] > a > i {
    color: #FC0F42; }
  #top-bar .pin-mode [data-pin-type="browse"] > a > i.fa-dot-circle {
    display: none; }
  #top-bar .pin-mode [data-pin-type="browse"] > a > i.fa-mouse-pointer {
    display: inline-block; }
  #top-bar .pin-mode [data-pin-type="browse"] .deactivator {
    display: none; }
  #top-bar .breadcrumbs {
    font-weight: lighter; }
    #top-bar .breadcrumbs a {
      font-weight: lighter; }
    #top-bar .breadcrumbs sep {
      font-size: 12px;
      margin: 0 8px; }
  #top-bar > .wrap {
    height: 45px;
    padding: 5px;
    padding-bottom: 10px; }
    #top-bar > .wrap > .col {
      font-size: 12px;
      line-height: normal; }
  #top-bar .share > .tab {
    letter-spacing: 1.5px; }
    #top-bar .share > .tab > * {
      margin-bottom: 15px; }
      #top-bar .share > .tab > * > a {
        font-size: 14px; }
    #top-bar .share > .tab .shared-members {
      margin-top: 2px; }
      #top-bar .share > .tab .shared-members a {
        display: inline-block; }
      #top-bar .share > .tab .shared-members .member-selector {
        position: relative;
        top: -4px; }
  #top-bar .page-info {
    padding: 3px; }

#page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 45px - 2px);
  overflow: hidden; }
  #page .iframe-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    text-align: center;
    margin: 0 auto;
    outline: 2px solid red;
    overflow: hidden; }
    #page .iframe-container iframe {
      border: none;
      max-height: 100%; }
      #page .iframe-container iframe.dragging {
        pointer-events: none; }

/* Progress Bar */
.ready .progress-bar {
  top: auto;
  bottom: 0; }

/* Loading Overlay */
.overlay {
  display: block;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2; }

#loading > .progress-info, #wait > .progress-info {
  font-size: 10px;
  line-height: 13px; }

#loading > span.dates, #wait > span.dates {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 20px;
  opacity: 0.3; }

#loading > span.loading-text, #wait > span.loading-text {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -9px;
  color: #686868;
  font-size: 20px;
  letter-spacing: 10px; }

#wait {
  opacity: 0.8; }

.gps_ring {
  display: inline-block;
  border: 3px solid #999;
  -webkit-border-radius: 30px;
  margin-bottom: -5px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0; }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }

/* Pins */
#pins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }
  #pins > pin {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
    left: 0;
    top: 0;
    transition: opacity 1000ms, transform 200ms; }
    #pins > pin:hover {
      opacity: 0.5; }

/* Pin Filters */
#pins[data-filter="incomplete"] > .pin[data-pin-complete="1"],
#pins[data-filter="complete"] > .pin[data-pin-complete="0"],
#pins[data-filter="private"] > .pin[data-pin-private="0"],
#pins[data-filter="public"] > .pin[data-pin-private="1"],
#pins[data-filter="hide"] > .pin, .pins-list[data-filter="incomplete"] > .pin[data-pin-complete="1"],
.pins-list[data-filter="complete"] > .pin[data-pin-complete="0"],
.pins-list[data-filter="private"] > .pin[data-pin-private="0"],
.pins-list[data-filter="public"] > .pin[data-pin-private="1"],
.pins-list[data-filter="hide"] > .pin {
  display: none; }

.popline {
  border-radius: 0;
  background: black;
  outline: 1px solid white; }
  .popline > li a {
    padding: 10px; }
  .popline > li a, .popline > li span {
    font-size: 14px !important;
    line-height: 14px !important;
    top: auto !important;
    height: auto; }

.sp-replacer {
  border: none;
  background: none; }

.sp-container {
  border-color: black;
  background-color: white; }
  .sp-container .sp-cancel {
    color: black !important;
    visibility: hidden !important; }
    .sp-container .sp-cancel:hover {
      color: #007acc !important; }
  .sp-container .sp-choose,
  .sp-container .sp-palette-toggle {
    border: 2px solid black;
    background: none !important;
    background-color: white !important;
    text-shadow: none !important;
    text-transform: capitalize !important;
    outline: none !important; }
    .sp-container .sp-choose:hover,
    .sp-container .sp-palette-toggle:hover {
      border: 2px solid black;
      color: #007acc; }

.ask-showing-correctly {
  position: absolute;
  right: 10px;
  bottom: -50px;
  pointer-events: none;
  opacity: 0;
  transition: 500ms; }
  .ask-showing-correctly.open {
    bottom: 10px;
    pointer-events: auto;
    opacity: 1; }
  .ask-showing-correctly .inner {
    position: relative;
    padding: 20px;
    background-color: white;
    border: 2px solid;
    border-radius: 8px;
    text-align: center; }
  .ask-showing-correctly .close-pop {
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 15px;
    opacity: 0.2; }
    .ask-showing-correctly .close-pop:hover {
      opacity: 1; }
  .ask-showing-correctly p {
    margin-top: 0; }
  .ask-showing-correctly .answers .button {
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 4px; }
    .ask-showing-correctly .answers .button.good:hover {
      background-color: green; }
    .ask-showing-correctly .answers .button.middle:hover {
      background-color: blue; }
    .ask-showing-correctly .answers .button.bad:hover {
      background-color: red; }

/*# sourceMappingURL=revise.map */