@import '_settings';

// Fonts
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=latin%2Clatin-ext';


// Helpers
@import 'vendor/_normalize';
@import 'vendor/_flexiblegs-css';

/**
 * General
 */
html, body {
	margin: 0;
	color: $color;

	.popup-open {
		overflow: hidden;
	}
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: $site-width;
}


#page {
	overflow: hidden;
}

.invisible {
	visibility: hidden;
}

/**
 * Typography
 */

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 1px;

	*:not(.fa) {
		font-family: 'Roboto Condensed', sans-serif;
	}

	&.index {

		p {
			font-size: 20px;
			line-height: 25px;
		}

	}

}

h1 {
    word-break: break-word;
	font-size: 64px;
	line-height: 60px;
	letter-spacing: 8px;
	font-weight: normal;
	margin: 20px 0;
}

h2 {
	font-weight: normal;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 7px;
    margin-bottom: 20px;

	div {
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 4px;
	}
}

a {
	letter-spacing: 1px;
}

a.learn-more {
	font-weight: bold;
}

.text {

	&-uppercase {
		text-transform: uppercase;
	}

}

ul {

	& > li {

	}

	&.no-bullet {
		list-style-type: none;
		padding-left: 0;
	}

	&.no-spacing {
		margin: 0;
		padding: 0;
	}

	&.full {
		width: 100%;
	}

}

.button-desc {
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
}

.register-message {
    line-height: 80px;
    letter-spacing: 1px;
}


/* Logo */
.site-title {
	margin: 0;
	line-height: 10px;

	a {
		color: $color;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 38px;
	    line-height: 38px;
	    letter-spacing: 4px;
	    display: inline-block;
	    position: relative;

	    span {
		    font-size: 15px;
	    }

		@media (max-width: 785px) {
			font-size: 25px;
		}

		@media (max-width: 595px) {
			font-size: 20px;
		}
	}
}


/**
 * Elements
 */

img {
	max-width: 100%;
}

input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */

	outline: none;
	//opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;

	&:hover {
		//opacity: 1;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		border-radius: 5px;
		background: $color;
		cursor: pointer;
	}

	&::-moz-range-thumb {
		width: 25px;
		height: 25px;
		border-radius: 5px;
		background: $color;
		cursor: pointer;
	}

	& + .percentage {
		width: 45px;
		text-align: center;
		overflow: hidden;

		&::after {
			content: "%";
		}
	}
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
input[type='submit'],
button {
	display: block;
    padding: 0 10px;
    border: 2px solid $color;
    border-radius: 0;
    width: auto;
	max-width: 100%;
    box-sizing: border-box;
    height: 28px;
    font-size: 14px;
    background-color: white;

    &.large {
    	font-size: 20px;
    	height: 80px;
    	border-width: 8px;
		padding: 0 20px;
		margin-bottom: -8px;
    }

    &.full {
	    width: 100%;
    }

    &.no-padding {
	    padding: 0 2px;
    }

    &.increaseable {
	    width: 55px;
	    display: inline-block;
	    text-align: center;
	    padding: 0;
    }
}

.filter-blocks {
	position: relative;

	i {
		cursor: pointer;
	}

	input[type="text"] {
	    display: inline-block;
	    width: auto;
		max-width: none;
	    height: auto;
	    border: 2px solid;
	    padding: 2px 5px;
	    font-size: 14px;
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    visibility: hidden;
	    opacity: 0;
	    right: -100%;
	    transition: 500ms;
	    border-radius: 8px;
	    outline: none;

	    &:focus {
		    border-color: $color-secondary;
	    }

	    &.active {
		    visibility: visible;
		    opacity: 1;
		    right: calc(100% + 8px);
	    }
	}
}

input[type='submit'],
button {
	display: inline-block;
    width: auto;
	max-width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: normal;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding: 0 10px;

    &:hover {
	    color: $color-secondary;
    }

    &.large {
    	font-size: 25px;
		letter-spacing: 3px;
    	height: 80px;
    	border-width: 8px;
		padding: 0 40px;
		margin-bottom: -8px;
		background-image: url('/assets/icons/triangle.svg');
    }

    &.full {
	    width: 100%;
    }
}

textarea {
	display: block;
	width: 100%;
	height: 90px;
	border: 3px solid $color;
	box-sizing: border-box;
	resize: none;
	padding: 2px 5px;
	font-size: 14px;
}

[disabled] {
	opacity: 0.5;
	cursor: default;

/*
	&:hover {
		background-color: $color !important;
	}
*/
}

[draggable="true"] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}


.uploader {
	position: relative;
	z-index: 0;

	img {
	    //position:absolute;
	    max-width: 100%;
	    max-height: 100%;
	    //top: 0;
	    //left: 0;
	    z-index: 1;
	}

	.info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#filePhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}



/**
 * Forms
 */


/**
 * Navigation
 */

nav#main-navigation {

	& > ul {
		list-style: none;

		& > li {
			display: inline-block;

			& > a {
				font-size: 14px;
				color: $color;
				letter-spacing: 3px;
			    text-decoration: none;
			    text-transform: uppercase;

				&:hover {
					color: $color-secondary;
				}

			}
		}
	}

}

.inline-guys > * {
	display: inline-block;
}


/* Sign-Up & Login Link */
.signup-link {

    @media (max-width: 760px) {
		display: block !important;
    }

	a {
	    border: 5px solid $color;
	    padding: 6px 36px;
	    font-size: 24px !important;

	    @media (max-width: 845px) {
		    padding: 6px 15px;
	    }

	    @media (max-width: 760px) {
		    border: none;
		    padding: 0;
	    }
	}
}

.login-link a {
    padding: 11px 36px;
    font-size: 24px !important;

    @media (max-width: 760px) {
	    padding: 0;
	    display: block;
    }
}


/**
 * Links
 */

a {
	color: $color;
	text-decoration: none;

	&.invert-hover {
		color: $color;

		&:hover {
			color: $color-secondary;
		}
	}
}

.invert-hover a {
	color: $color;

	&:hover {
		color: $color-secondary;
	}
}

.bullet {
    padding-right: 15px;
    background-image: url('/assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;

    &-white {
	    background-image: url('/assets/icons/arrow-down-white.svg');
	}

    &.bigger-bullet {
	    background-size: 18px;
	    padding-right: 20px;
	}
}


/**
 * Menus
 */

.user-link {
	font-weight: bold;
	font-size: 24px;
    line-height: 50px;
	letter-spacing: 3px;
}

.notifications-wrapper {
	position: relative;

	.notification-opener {
		//font-size: 20px;
		position: relative;

		&.open {
			color: $color-secondary !important;
		}

	}
}

.notifications {
	display: none;
    background-color: white;
    border: 1px solid $color;
    border-radius: 10px;

    position: absolute;
    z-index: 2;
    right: 0;
    top: 100%;
    min-width: 220px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;


    .open + & {
	    display: block;
    }

    & > ul {
	    padding: 0;
	    margin: 0;
	    list-style-type: none;


	    & > li {
		    border-bottom: 1px solid $color;
			padding: 5px 10px;
	    	font-size: 12px;
		    line-height: 15px;
		    text-align: center;
		    color: $color;

			&:last-child {
				border-bottom: none;
			}

			&.new {
				position: relative;

				&::before {
				    content: "";
				    position: absolute;
				    top: 50%;
				    left: 2px;
				    display: block;
				    width: 4px;
				    height: 4px;
				    border-radius: 50%;
				    background-color: red;
				    transform: translateY(-50%);
				}

			}

			a {
				color: $color-secondary !important;
			}

			.image {
				width: 25px;

				picture {
					margin: 0 !important;
				}

			}

			.content {
				padding-left: 5px;
		    	font-size: 12px;
			    line-height: 15px;
			}

			.date {
			    font-size: 10px;
			    line-height: 14px;
			    opacity: 0.4;
			}

	    }

    }
}

/*
.user-menu {
	min-width: 200px;
}
*/

ul.user-header-menu {
	padding: 0;
	margin: 0;

	& > li {
		margin: 0 10px;

		&:last-child {
			margin-right: 0;
		}

	}
}



.dropdown { // <SPAN | DIV>
	position: relative;
	cursor: auto;

	a {
		cursor: pointer;
		margin-bottom: 0;


		&:not(.editing):hover + ul,
		&.open + ul {
			opacity: 1;
			transition-delay: 0s !important;
			visibility: visible;
		}


		& + ul {
			position: absolute;
			z-index: 2;
			left: 0;
			top: 100%;
			list-style-type: none;
			padding: 0;
			margin: 0;
			visibility: hidden;
			opacity: 0;
			transition: 0s;
			transition-delay: 500ms;

			&:hover,
			&.open {
				opacity: 1;
				transition-delay: 0s !important;
				visibility: visible;
			}

			&.no-delay {
				transition-delay: 0ms;
			}

			&.right {
				left: auto;
				right: 0;
			}

			&.center {
				left: 50%;
			    transform: translateX(-50%);
				right: auto;
			}

			&.selectable {

				& > li {

					& > a {
						padding-left: 30px;
					}

					&.selected {
						background-color: white;
						color: $color;

						& > a {
							position: relative;
							color: inherit !important;

							&:before {
							    content: "\f00c";
							    font-family: 'Font Awesome 5 Free';
							    font-weight: 900;
							    position: absolute;
								left: 4px;
							    top: 50%;
							    margin-top: -9px;
							    line-height: 18px;
							}

						}

					}

				}

			} // ul.selectable

			&.addable {

				& > li {

					& > a {
						position: relative;
						padding-left: 30px;

						&:before {
						    content: "\f067";
						    font-family: 'Font Awesome 5 Free';
						    font-weight: 900;
						    position: absolute;
							left: 6px;
						    top: 50%;
						    margin-top: -9px;
						    line-height: 18px;
						}

					}

				}

			} // ul.addable

			& > li {
				margin-bottom: -2px;
				background-color: #fff;
				border: 2px solid $color;
				display: flex;
				align-items: center;
				justify-content: left;
				white-space: nowrap;
				position: relative;
				color: $color;


				&:first-child {
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}

				&:last-child {
					border-bottom-left-radius: 6px;
					border-bottom-right-radius: 6px;
				}

				&.deletable {

					& > a {
						padding-right: 25px;

						&:hover + .delete {
							visibility: visible;
						}
					}

					.delete {
						visibility: hidden;
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
						font-size: 12px;
						cursor: pointer;

						&:hover {
							visibility: visible;
						}
					}

					&:hover .delete {
						visibility: visible;
					}

				}

				&.selected {
					background-color: $color;
					color: white;

					& > a {
						color: inherit !important;
					}
				}

				& > span {
					display: inline-block;
					width: 100%;
					padding: 5px;
					color: inherit;

					&.inline {
						width: auto;
					}
				}

				& > a {
					display: inline-block;
					width: 100%;
					padding: 5px;
					color: inherit;

					&:hover {
						color: $color-secondary;

						& + ul {
							opacity: 1;
							transition-delay: 0s !important;
							visibility: visible;
						}
					}

					& > i {
						width: 22px;
						height: auto;
						text-align: center;
					}

					& + ul {
						position: absolute;
						z-index: 2;
						left: 100%;
						top: -2px;
						list-style-type: none;
						padding: 0;
						margin: 0;
						visibility: hidden;
						opacity: 0;
						transition: 0s;
						transition-delay: 0;

						&:hover {
							opacity: 1;
							transition-delay: 0s !important;
							visibility: visible;
						}

					} // .dropdown > a + ul > li > a + ul

				} // .dropdown > a + ul > li > a

			} // .dropdown > a + ul > li

		} // .dropdown > a + ul

	} // .dropdown > a

} // .dropdown


.screen-adder {

	& * {
		color: $color !important;

		&:hover {
			color: $color-secondary !important;
		}
	}

	a {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0;
	}

}




/**
 * Alignments
 */

.vertical-middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	right: 0;
	left: 0;
}


/**
 * 10.0 - Widgets
 */


[data-tooltip] {
	position: relative;


	&.tooltip {
		cursor: help;
	}

	&:hover:after{
		pointer-events: none;
	    padding: 4px;
	    background-color: $color;
	    color: white;
	    content: attr(data-tooltip);
	    position: absolute;
	    z-index: 999;
	    bottom: 100%;
	    right: 0;
	    text-transform: initial;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-size: 12px;
	    line-height: 15px;
	    font-weight: bold !important;
	    letter-spacing: normal;
	    width: 120px;
	    white-space: normal;
	    text-align: center;
	    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
	    border-radius: 5px;
	    //white-space: nowrap;
	}

	&.bottom-tooltip:hover:after {
		bottom: auto;
		top: 100%;
	}

	&.left-tooltip:hover:after {
		right: auto;
		left: 0;
	}

	&.center-tooltip:hover:after {
		right: auto;
		left: 50%;
	    transform: translateX(-50%);
	}

}

.light-border picture.profile-picture {
    border-color: white;
}

figure.profile-picture {
	width: 40px;
	height: 40px;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $color;


	& > .abbr {
		font-weight: normal;
	    font-size: 15px;
	    line-height: 20px;
	    text-transform: uppercase;
	}

    &.has-pic > .abbr {
	    display: none;
    }

}

picture.profile-picture {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;

    width: 25px;
    height: 25px;
    margin: 0 2px;
    border: 2px solid $color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;


    &.email {

    }

    & > span {
	    font-size: inherit;
	    font-weight: inherit;
	    line-height: inherit;

	    &.has-pic {
			opacity: 0;
	    }

    }

	&.square {
	    border-radius: 0;
	    border-width: 2px;
	}

	&.big {
		width: 40px;
		height: 40px;
		font-size: 15px;
		line-height: 40px;
		border-width: 2px;
	    margin-left: 20px;
	    margin-right: 0px;
	    transform: translateY(-3px);
	}
}


.notif-no {
    font-size: 8px;
    bottom: -3px;
    right: -5px;

    display: block;
    width: 14px;
    height: 14px;
    background-color: #D0011B;
    color: white;
    line-height: 14px;
    font-weight: normal;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    border-radius: 50%;

    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

	&.hide {
		display: none;
	}
}

.big .notif-no {
    font-size: 10px;
    bottom: 0;
    right: 0;
}

pin {
	position: relative;
    display: inline-block;
    line-height: 25px;
    width: 25px;
    height: 25px;
    background: $color;
    border-radius: 50%;
    font-size: 10px;
    letter-spacing: 0;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.5);

    &[data-pin-private="1"] {
	    box-shadow: 0px 0px 8px 1px $color-private;
    }

    &[data-pin-type="live"] {
	    box-shadow: 0px 0px 8px 1px $color-live;
    }

    &[data-pin-type="live"][data-pin-private="1"] {
	    box-shadow: 0px 0px 8px 1px $color-private-live;
    }

    .pin-title {
	    font-size: 7px;
	    line-height: 16px;
	    opacity: 0.8;
	}

	&.mid {
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin: 0 10px !important;

		&[data-pin-private="1"] {
		    box-shadow: 0px 0px 18px 1px $color-private;
		}

		&[data-pin-type="live"] {
		    box-shadow: 0px 0px 18px 1px $color-live;
	    }

		&[data-pin-type="live"][data-pin-private="1"] {
		    box-shadow: 0px 0px 15px 0.5px $color-private-live;
		}

	    .pin-title {
		    font-size: 11px;
		}
	}

	&.big {
		width: 45px;
		height: 45px;
		line-height: 45px;
		font-size: 14px;

		&[data-pin-private="1"] {
		    box-shadow: 0px 0px 18px 1px $color-private;
		}

		&[data-pin-type="live"] {
		    box-shadow: 0px 0px 18px 1px $color-live;
	    }

		&[data-pin-type="live"][data-pin-private="1"] {
		    box-shadow: 0px 0px 18px 1px $color-private-live;
		}

	    .pin-title {
		    font-size: 11px;
		}
	}

    &.add-new {
	    background-color: white;
	    color: $color;
	    font-family: -webkit-pictograph;
	    font-size: 28px !important;
	    transition: 1s;
	    border: 1px solid $color;

	    &.active {
			-moz-transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    transform: rotate(45deg);
			opacity: 0.4;
	    }
    }

    &[data-pin-complete="1"] {
    	color: $color !important;
    	background-color: white;
		border: 1px solid $color;

    	&:before {
	    	content: "\f00c";
	    	font-family: 'Font Awesome 5 Free';
	    	font-weight: 900;
	    	font-size: 17px;
	    	display: block;
	    	position: absolute;
			width: inherit;
			height: inherit;
	    	text-align: center;
			background-color: white;
    	    border-radius: 50%;
    	    box-sizing: border-box;
			transition: 500ms;
    	}

	    &:hover:before,
	    &.show-number:before {
	    	opacity: 0;
		}

    }

    &.mouse-cursor {
	    position: absolute;
	    cursor: none !important;
	    pointer-events: none !important;
	    border: 0.5px solid;
	    border-top-left-radius: 0;
	    color: $color;
	    background-color: white;
		user-select: none !important;
	    transition: opacity 500ms;
		opacity: 0;


		&.active {
			opacity: 1;
		}

		&.existing {
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQYV2NkwAJEptr7MqKLgwTfZB/cjCIBEwQphksgC8Il0AXBEtgEQRIAbs0VPBlQrL8AAAAASUVORK5CYII=);
			background-color: #fff;
		}

    }
}

.dark-color {
	color: $color;
}

.date-statistics {
	opacity: 0.27;
    margin-top: 18px;
    font-size: 14px;
    line-height: 18px;
}


/**
 * 11.0 - Content
 */

#content {
	padding-top: 30px;
}


/**
 * 11.1 - Header
 */

header {
	margin-top: 25px;
}

.toolbar {
    margin-bottom: 35px;
}

.title {
	white-space: nowrap;

	.name-field.editing h1 {
		display: inline;
	}


	h1 {
		white-space: normal;
		position: relative;

		input.edit-name {
			font-size: inherit !important;
			line-height: inherit !important;
			letter-spacing: inherit !important;
			height: 84px !important;
		}


		.project-renamer {
			position: absolute;
			left: -40px;
			top: 50%;
			transform: translateY(-50%);
			transition: 500ms;
			opacity: 0;
			font-size: 20px;

		}

		&:hover {

			.project-renamer {
				opacity: 1;
			}

		}
	}

	.dropdown > ul {
		min-width: 220px;
	}

}

.under-main-title {
    margin-bottom: 10px;

    .member-selector {
	    position: relative;
	    top: -5px;
	    left: -5px;
	}
}

.public-link {
	position: relative;
	z-index: 1;

	a {
	    font-size: 14px !important;

	    &.privacy {
		    margin-left: 10px;

		    i {
			    font-size: 20px;
		    }
	    }
	}
}

.filter {

	& > *:not(.search) {
		font-size: 14px;
		margin: 0 10px;
		display: inline-block;
	    text-transform: uppercase;
	}

	.selected {
	    font-weight: bold;
	    text-decoration: underline !important;
	}

	.search img {
	    width: 16px;
	    margin-bottom: -4px;
	}
}


/**
 * 11.2 - Sections
 */

main,
section {
	position: relative;
	border: 20px solid $color;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	margin-bottom: 1px;
}

main {
	height: auto;
	min-height: 100vh;
}

.more-info {
	text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
    font-size: 24px;
    color: $color;
    letter-spacing: 3px;;
}

.more-info img {
	display: block;
	margin: 0 auto;
	margin-top: 12px;
}



section:before,
section:after {
	content: "";
    position: absolute;
    left: 80px;
    top: -21px;
    display: block;
    width: 1px;
    height: 100vh;
    background-color: $color;
    z-index: 1;
}

section:after {
    right: 80px;
    left: auto;
    background-color: white;
}

section.left-dark:before,
section.left-dark:after {
    background-color: white;
}

section.left-dark:after {
    background-color: $color;
}

section:after {
    clear: both;
}

section > div {
    position: relative;
    width: 50%;
    height: 100%;
    display: block;
    float: left;
}

section > div:first-child:before,
section > div:first-child:after {
    left: -21px;
}

section > div:before,
section > div:after {
    content: "";
    height: 1px;
    background-color: $color;
    display: block;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 50vw;
}

section > div:after {
	top: auto;
    bottom: 80px;
}

section > div.dark-side:before,
section > div.dark-side:after {
    background-color: white;
}

.dark-side {
    background-color: $color;
}

.dark-side * {
    color: white;
}

.side-content {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 560px;
    max-width: calc(100% - 40px);
    right: 0;
	padding-right: 25px;

	a {
		color: $color;

		&:hover {
			color: $color-secondary;
		}
	}

	h2 {
		margin-top: 0;
	}
}

section > div:last-child .side-content {
	right: auto;
	left: 0;
	padding-left: 25px;
	padding-right: 0;
}



/**
 * 11.4 - Comments
 */
.shares {
	display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &.email {
	    display: block;

	    & > li {
		    display: block;
		    margin-bottom: 10px;

		    & > span {
			    position: relative;
		    }

		    .remove-share {
			    top: -5px;
			    right: -15px;
		    }

	    }
    }

    & > li {
	    display: inline-block;
	    position: relative;

	    .remove-share {
		    display: none !important;
			position: absolute;
		    top: -10px;
		    right: -6px;
		    background-color: white;
		    border-radius: 50%;
	    }

	    &.undeletable .remove-share,
	    &.undeletable:hover .remove-share {
		    display: none !important;
	    }

	    &:hover .remove-share {
		    display: block !important;
	    }

    }
}


input.share-email {

    &.error {
	    border-color: red !important;
    }

}


/**
 * Misc
 */

.dpl-xl-gutter-30 {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;

    & > * {
	    padding-left: 15px;
	    padding-right: 15px;
	}
}


/* Overlay */
.bg-overlay {
	pointer-events: none;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 2;
	transition: 500ms;

	.popup-open & {
		opacity: 1;
		pointer-events: initial;
	}
}


/* Popup Window */
.popup-window {
	position: absolute;
	top: -100vh;
    background-color: white;
    border: 5px solid $color;
    border-radius: 40px;
    padding: 20px 40px 40px;
    max-height: 95vh;
    box-sizing: border-box;
    transition: 500ms;
	box-shadow: 0px 0px 65px -10px white;

    &.active {
	    top: 50%;
	    transform: translateY(-50%);
    }

    h2 {
	    margin: 0;
	    text-transform: uppercase;
    }

    h3 {
	    font-weight: normal;
	    text-transform: uppercase;
	    font-size: 40px;
	    line-height: 43px;
	    letter-spacing: 2px;
	    margin-top: 40px;
	    margin-bottom: 15px;

	    i {
		    position: relative;
		    font-size: 20px;
		    top: -8px;
	    }
	}

	h4 {
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		border-bottom: 1px solid;
	}

	h5 {
		font-size: 15px;
		font-weight: normal;
		text-transform: uppercase;
		margin: 0;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"] {
		border-width: 4px !important;
		border-radius: 6px;
		height: 36px !important;
		font-size: 14px;
		//max-width: 400px;
		width: 100%;
		margin: 0 auto;
		padding: 0 10px;
		outline: none;

		&:focus {
			border-color: $color-secondary;
		}
	}

	button {
		border-radius: 5px;
		outline: none;

		&:focus {
			border-color: $color-secondary;
		}
	}

	.design-uploader {
		font-size: 12px;

		a {
			font-size: 12px;
			text-decoration: underline;
			font-weight: bold;
		}
	}

	.option-toggler,
	.more-options {
		display: block;
		margin: 25px 0;
		font-size: 15px;
	}

	.mCSB_scrollTools {
	    right: -6px;
	    top: 100px;
	}

	.mCSB_inside > .mCSB_container {
	    margin-right: 0;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	    background-color: #000;
	    background-color: rgba(0, 0, 0, 0.75);
	}

	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	    background-color: #000;
	    background-color: rgba(0, 0, 0, 0.85);
    }

	&:not(.more-options) {

		.less-options, .more-options-wrapper, .section-title {
			display: none;
		}

	}

	&.more-options .more-options {
		display: none;
	}

	.people a {
		display: inline-block;
		line-height: 16px;
	}

	ul.selected-screens {
		list-style: none;
		margin-top: 0;

		& > li {
			text-align: left;
			margin-top: 10px;

			& > i {
				display: inline-block;
			    width: 60px;
			    text-align: center;
			    font-size: 35px;
			    position: relative;
			    bottom: -6px;
			}

			& > span {
				font-size: 18px;
				letter-spacing: 1px;
			}

			& > a.remove-screen {
				color: #d6d6d6;

				&:hover {
					color: $color;
				}
			}
		}
	}

	.add-screen {
		font-weight: bold;
		font-size: 18px;
	}


	&#share {

		&[data-type="project"] {

			.hide-when-project {
				display: none;
			}

		}

		&[data-iamowner="no"] {

			.hide-if-not-owner {
				display: none;
			}

		}

		&[data-iamowner="yes"] {

			[data-my-share="no"] {

				.change-access {
					display: inline-block;
				}

			}

			[data-itsme="yes"] {

				.change-access {
					display: none;
				}

			}

		}

	}


	&#add-new {

		&[data-type="page"] {

			.project-info {
				display: none;
			}

		}

		&[data-type="project"] {

			ul.selected-screens > li {
				padding-left: 80px;
			}

		}

		input[name="page-name"],
		input[name="project-name"] {
			max-width: 50%;
		}

	}

}


.members {
	list-style-type: none;

	& > .member {
		margin-bottom: 5px;
		position: relative;

		.owner-badge {
			border: 1px solid $color;
		    text-transform: uppercase;
		    font-size: 10px;
		    line-height: 10px;
		    padding: 0px 3px;
		}


		&.owner .remove,
		&.unremoveable .remove {
			display: none;
		}

		&[data-itsme="no"] {

			.owner-badge {
				display: none;
			}

		}

		&[data-my-share="no"] {

			.change-access {
				display: none;
			}

		}

		&[data-share-status="projectowner"] {

			.change-access {
				display: none !important;
			}

		}

		&[data-itsme="yes"] {

			.hide-if-me {
				display: none;
			}

			.change-access {
				display: inline-block;
			}

		}

		.email {
			white-space: nowrap;
		    color: gray;
		    font-weight: 100;
		}

		.remove {
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -5px;
			color: #d6d6d6;

			&:hover {
				color: $color;
			}
		}

	}
}


button {

	&.small {
		border-width: 2px;
	    font-size: 20px;
	    line-height: 35px;
	    height: auto;
	    background: none;
	    padding: 0 25px;
	    min-width: 130px;
	}


	&.dark {
		background-color: $color;
		color: white;

		&:hover {
			background-color: $color-secondary;
		}
	}



}


/* Progress Bar */
.progress-bar {
	width: 100%;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;

	.progress {
		position: relative;
		background-color: $color;
		transition: 500ms;
		width: 0%;
		height: 2px;

		&:after,
		.gradient {
			content: "";
			display: inline-block;
			position: absolute;
			left: 100%;
			height: 100%;
			width: 30px;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+13,0+100 */
			background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 13%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 13%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 13%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}
	}

}

.progress-info {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 10px;
    line-height: 13px;
}


/**
 * 11.6 - Footer
 */

footer {

	.site-title a {
		font-size: 18px;
		letter-spacing: 2px;
	}

	a, p, div, span {
		font-size: 10px;
	}

	.copyright {
		padding-bottom: 15px;
	}

	.footer-links a {
		margin: 0 12px;

		&:hover {
			color: $color-secondary;
		}
	}
}


/**
 * 12 - Home
 */

.home-questions {
    width: 800px;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    position: absolute;
    top: -140px;
    left: -140px;

    @media (max-width: 880px) {
    	left: -50px;
	}
}

.home-questions .are-you {
	display: block;
}

.home-questions ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 100px;
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 10px;

    @media (max-width: 880px) {
    	margin-left: 10px;
	}
}

.home-questions ul > li {
	transition: 500ms;
	opacity: 0;
    top: -40px;
	position: absolute;
	font-size: 64px;
	line-height: 50px;
	letter-spacing: 8px;

	@media (max-width: 1010px) {
		font-size: 55px;
	}
}

.home-questions ul > li.active {
	opacity: 1;
	top: 0;
}

.home-questions ul > li:after {
    content: "?";
    position: relative;
    right: -20px;
    bottom: -10px;
    font-size: 30px;
}

.enter-url {
    width: 555px;
    margin: 0 auto;
    position: relative;
	max-width: calc(100vw - 40px);

	form {
		position: relative;
	}
}

.enter-url input[type="url"] {
    height: 80px;
    border: 9px solid $color !important;
    color: $color;
    width: 100%;
    font-size: 25px;
    letter-spacing: 3px;
	background-color: white;
	box-sizing: border-box;
}

.enter-url input[type="submit"] {
    position: absolute;
    top: 10px;
    right: -80px;
    width: 65px;
    height: 65px;
    background-color: transparent;
    background-image: url('/assets/icons/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    text-indent: -9999px;
	padding: 0;
}

.enter-url .description {
    position: absolute;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2.5px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}






/**
 *  Blocks
 */

ol.categories {
	padding: 0;


	&[data-filter="shared"],
	&[data-filter="archived"],
	&[data-filter="deleted"] {

		.add-new-block {
			display: none;
		}

	}


	& > li.category {
		border: 1px dashed white;
		border-radius: 10px;
		min-height: 280px;
		margin-bottom: 20px;
		padding: 10px;

		&:not(#uncategorized):hover,
		&.dragged {
			border-color: #c7c7c7;
		}


		.cat-separator {
		    border-bottom: 1px solid;
		    padding: 0 !important;
		    opacity: 0.5;
		    margin-bottom: 10px;

		    &:hover .actions {
			    opacity: 1;
		    }

		}


		& > ol.blocks {


			& > .block {
				margin-bottom: 50px;

				&.add-new-block {

					.box a {
						min-height: inherit;
						letter-spacing: normal;
						text-transform: capitalize;

						&:hover .plus-icon {
							color: $color-secondary;
						}

						.plus-icon {
							font-size: 55px;
						}

					}

				}

				.box {
				    border: 3px solid;
				    border-radius: 10px;
				    min-height: 250px;
				    background-size: cover;


				    .overlay {
					    opacity: 0;
					    background-color: rgba(0, 0, 0, 0.45);
					    min-height: inherit;

					    & * {
						    color: white;
					    }

					    .people {

							& > * {
								margin: 0;
								width: 20px;
								height: 20px;
								line-height: 17px;
								font-size: 10px;
								border-color: white;
							}

					    }

					    .pages {
						    display: inline-block;
						    position: relative;

						    .page-count {
								position: absolute;
							    top: 30px;
							    font-size: 15px;
							    line-height: 16px;
							    display: block;
							    width: 100%;
							    padding-right: 20px;
							    box-sizing: border-box;
							}

					    }

					    .modes {

						    a {
							    font-size: 30px;
						        padding: 0 2px;
						    }

					    }

					    .pins {
							padding: 4px !important;

							pin {
								margin: 1px;
								margin-bottom: 12px;

								.notif-no {
									bottom: auto;
									right: -5px;
									top: -5px;
								}
							}
						}

						.screens > .device-wrap {

							a > i {
								font-size: 30px;
							}

						}

						& > div:not(.people):not(.pages) {
						    padding: 0 2px;

							& > a {
								opacity: 0.65;

								&:hover {
								    opacity: 1;
							    }
							}
						}
				    }

				    &:hover .overlay,
				    &.no-thumb .overlay {
					    opacity: 1;
				    }
				}

				.date {
					font-size: 10px;
					line-height: 22px;
					color: $color-light;
					white-space: nowrap;
				}

				.box-name {

					a {
						font-size: 14px;
						line-height: 17px;
						letter-spacing: normal;
					}

				}

				input.edit-name {
					width: 90% !important;
				}
			}


			.device-wrap {
				position: relative;

				.device-link {
					display: inline-block;
				}

				.remove-device {
					position: absolute;
					top: -22px;
					right: -10px;
					display: none;

					& > i {
						display: block;
						font-size: 15px !important;
						width: 15px;
						height: 15px;
					}

				}

				&:hover .remove-device {
					display: block;
				}
			}

		}


	}


}




.cat-sortable {

	.cat-handle {
		cursor: move;
	}

	.sortable-placeholder {
		border: 2px dashed;
	    box-sizing: border-box;
		min-height: 300px;
		margin-bottom: 20px;
		width: 100%;
	}
}

.object-sortable {


	.object-handle {
		cursor: move;
	}

	.sortable-placeholder {
		border: 5px dashed;
		min-height: 250px;
		min-width: 16.66667%;
	    box-sizing: border-box;
	}

}





/* Name fields to rename */
.name-field {

	.share-icons {

		i {
			font-size: 10px;

			&:nth-child(2) {
				margin-left: 1px;
			}
		}
	}

	.actions {
	    opacity: 0;
	    transition: 700ms;

		input.edit-name {
			display: none;
			width: auto;
			max-width: 100%;
			font-size: 14px;
		    font-weight: inherit;
		    line-height: inherit;
		    height: auto;
		    border-width: 1px;
			padding: 0 5px;
			margin-left: -5px;
		}

    }


    &:hover .actions {
	    opacity: 1;
    }


	&.editing {

	    .name {
		    display: none;
	    }

	    .actions {
			opacity: 1 !important;

		    input.edit-name {
			    display: inline-block;
			    font-size: 16px;
			    line-height: 18.4px;
			    max-width: 75%;
		    }

		}

    }

}





body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}










.wrap, .col:not(.dragged) {
	transition: 500ms;
}


.alerts {
	position: absolute;
	z-index: 5;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);

	& > .alert {
		background-color: $color;
		color: white;
		font-size: 12px;
		font-weight: 100;
		padding: 10px 40px 10px 20px;
		margin-bottom: 5px;
		position: relative;

		& > .close {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			color: white;

			&:hover {
				opacity: 0.8;
			}
		}

		&.error {
		    background-color: #670000;
		}
	}

}





/**
 * 14.0 - Media Queries
 */

@media only screen and (max-width: 1420px) {

	#page section:before {
	    left: 40px;
	}

	#page section:after {
	    right: 40px;
	}

	#page section > div:before {
	    top: 40px;
	}

	#page section > div:after {
	    bottom: 40px;
	}

}

@media only screen and (max-width: 1310px) {

	#page section:before {
	    content: none;
	}

	#page section:after {
	    content: none;
	}

	#page section > div:before {
	    content: none;
	}

	#page section > div:after {
	    content: none;
	}

}